[2016-05-20 15:59] joereynolds opened #1901 "level option not shown on php-cs-fixer --help"
Most of the other options are there but the level one isn't. I had to come onto Github to find out the command

[2016-05-20 18:11] keradus commented on #1901
which version are you using ?

[2016-05-20 18:47] noamcore commented on #1801
So, this will be added or not?

[2016-05-20 19:04] joereynolds commented on #1901
Hey @keradus I'll check when I get back in work :)

[2016-05-21 07:37] SpacePossum commented on #1801
@noamcore if someone writes a PR that will modify the existing fixer to do this when configured, sure it will :)
you might want to check with @pbkyriak, author of https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/1803

[2016-05-21 17:44] ajax13 opened #1902 "Fix only part of file"
Hey, is it possible to fix(or show how to fix) only part(from and to a specific line) of file?
For exemple:
`php-cs-fixer --verbose --dry-run --diff fix /path/to/file --from:[LineNumber] --to:[LineNumber]`

[2016-05-21 17:49] keradus commented on #1902
No, as tokenizer must know whole file context to tokenize the code.
Then, at line 2.x we even drop tracking the line numbers.

[2016-05-21 19:29] GrahamCampbell commented on #1902
I don't see this being possible to easily (or even not easily) implement given the way php-cs-fixer works at the moment.

[2016-05-21 19:39] keradus commented on #1902
And actually not that big benefit it would bring, as tool follows philosophy "follow standard everywhere or nowhere". So, in this specific case, whole file or nothing.

[2016-05-21 20:20] GrahamCampbell commented on #1902
I think the application is perhaps similar to an earlier request we had regarding fixing actual diffs.

[2016-05-21 20:21] GrahamCampbell commented on #1902
I could be wrong. Maybe another application would be in order to skip lines you want to exclude the cs rules on? Jaybe the application of skipping fixers on certain lines would be possible to implement?

[2016-05-21 20:23] gharlan commented on #1902
#1365

[2016-05-22 15:54] keradus commented on #1900
Not sure is it that good we should go that way or not, what would you think:

Add new parameter for console run (only for console) like `--path-mode=[override|intersection]`, default is override. Parameter is valid only if any path was provided. Then, `override` is to use passed CLI path as is, and `intersection` to create intersection with finder from config file (if falid, fail if not)

[2016-05-22 16:09] keradus commented on #1902
Closing as duplicate, thank you @gharlan

[2016-05-22 16:09] #1902 closed

[2016-05-22 18:56] keradus commented on #1900
easy to do after #1903

[2016-05-22 19:35] SpacePossum commented on #1900
1903 looks promising, I'll wait for that one :) :+1:
(a master version of https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/1896 will be way easier as well with 1903 in so +2 from me ;)  )

[2016-05-22 19:58] keradus commented on #1900
then vote on 1903 ;P

[2016-05-22 19:58] keradus commented on #1900
If I get you right - your on for path-mode ?

[2016-05-23 06:45] SpacePossum commented on #1900
yes :) (with default override)  :+1:

[2016-05-23 16:20] jnvsor opened #1904 "Indentation count lost after comment in code (Again)"
It looks like bug #774 is back

**Before:**

[code]
**Command:**

[code]
**After:**

[code]

[2016-05-23 16:22] jnvsor opened #1905 "Indentation count lost after comment in code (Again)"
#774 is back it seems (or something like it)

**before:**

[code]

**after:**

[code]

[2016-05-23 16:38] jnvsor commented on #1905
Sorry for dupe - github being spazzy

[2016-05-23 16:38] #1905 closed

[2016-05-23 17:06] SpacePossum commented on #1904
The first indent fix (i.e. to 4 spaces) looks OK, the `echo`-line however is not touched.
I think the bug is not back; I think it was never solved in the 1.x line since the comment with linebreak transformer was added on `master`.
You could try out the master branch or help out on the 1.x :)

[2016-05-23 17:11] jnvsor commented on #1904
Still happens in b86dd31

[2016-05-23 18:35] keradus commented on #1230
Closing due to #1903

[2016-05-23 18:35] #1230 closed

[2016-05-23 18:44] keradus commented on #1094
closed by #1894

[2016-05-23 18:44] #1094 closed

[2016-05-25 07:55] OskarStark opened #1907 "indentation error"
[code]

Using:
`PHP CS Fixer version 1.11.1 by Fabien Potencier`

[2016-05-25 08:00] OskarStark opened #1908 "error when removing the variable name for properties"
[code]

in this case the result:

[code]

should be removed imo

Using:
`PHP CS Fixer version 1.11.1 by Fabien Potencier`

[2016-05-25 08:53] OskarStark opened #1909 "wrong linebreak"
[code]

Using:
`PHP CS Fixer version 1.11.1 by Fabien Potencier`

[2016-05-25 09:01] GrahamCampbell commented on #1908
We only fix cs, not invalid syntax.

[2016-05-25 09:02] GrahamCampbell commented on #1907
If you turn off the param align fixer, does this still happen?

[2016-05-25 09:42] OskarStark commented on #1909
The [PHP doc](http://php.net/manual/en/language.types.array.php#99015) allows both:

[2016-05-25 09:44] OskarStark commented on #1907
This is my config:

[code]

How can i exclude this fixer without defining every other fixer manually?

[2016-05-25 09:44] OskarStark commented on #1908
Ok, thank you 👍

[2016-05-25 09:44] #1908 closed

[2016-05-25 10:09] keradus commented on #1909
Please, could you confirm the problem using v2@dev ?

[2016-05-25 10:26] SpacePossum commented on #1909
Confirmed on 1.12 and master as well, fixer doing this is `braces`.
Input used for test;
[code]

[2016-05-25 10:29] OskarStark commented on #1909
Using:
`PHP CS Fixer version 2.0-DEV by Fabien Potencier and Dariusz Ruminski`

@SpacePossum was faster 😄

Yes i can confirm this bug

[2016-05-25 11:05] OskarStark commented on #1907
You mean this one? `phpdoc_align`

[2016-05-25 11:09] GrahamCampbell commented on #1907
No, that does something different. I mean `phpdoc_params`. That fixer is poorly named on 1.x. It got renamed on 2.x.

[2016-05-25 11:13] OskarStark commented on #1907
Changed my config to
[code]

same result:
[code]

[2016-05-25 11:14] OskarStark commented on #1907
anything else i can do?

[2016-05-25 11:16] OskarStark commented on #1907
Input for test:

[code]

[2016-05-25 11:42] keradus commented on #1909
1. need a new transformer (then 2.x line) for `{` used for indexing purposes
2. need a nef fixer to convert `{` to `[`

[2016-05-25 12:33] keradus commented on #1907
We are following PHPDoc

return syntax:
https://github.com/phpDocumentor/fig-standards/blob/b994d853b8ba33bd4bfb00e53cc268d57a5d1e7b/proposed/phpdoc.md#syntax-14

type syntax:
https://github.com/phpDocumentor/fig-standards/blob/b994d853b8ba33bd4bfb00e53cc268d57a5d1e7b/proposed/phpdoc.md#abnf

there should be no (single/multiline) whitespaces around type alternation.
So you should have `@return Red

[2016-05-25 18:22] SpacePossum commented on #1828
Did you run it on the SF code base?
Should be a one line fix, so if there are some :+1:'s I put it on my TODO list :)

[2016-05-25 18:30] SpacePossum commented on #1720
Maybe `ExplicitBoolCastFixer` or `LongBoolCastFixer` ?

[2016-05-25 18:40] gharlan commented on #1720
`DoubleNotOperatorToBoolCastFixer`
`NoDoubleNotOperatorFixer`
`NoNotNotFixer`
`VeryUglyBoolCastHackToOrdinaryBoolCastFixer`
...

[2016-05-25 18:56] GrahamCampbell commented on #1720
Seems legit.

[2016-05-25 20:26] keradus commented on #1828
:+1:

[2016-05-25 20:29] keradus commented on #1767
Closed due to merge of #1870

[2016-05-25 20:29] #1767 closed

[2016-05-25 20:31] keradus commented on #1720
:+1:

[2016-05-25 22:28] keradus commented on #1900
#1913

[2016-05-26 10:14] keradus commented on #1638
change is finally accepted by Symfony

https://github.com/symfony/symfony/issues/17201
https://github.com/symfony/symfony-docs/pull/6614

TODO:
1. remove from symfony ruleset `phpdoc_no_empty_return` and `empty_return`
2. split `phpdoc_no_empty_return` as suggested by @SpacePossum
3. mark  `empty_return` risky for PHP 7.1 reason

[2016-05-26 10:19] stof commented on #1638
that's not risky. The risky fixer would be the one doing the opposite change (``return null;`` is forbidden in void function, but ``return;`` can always be used).

This one should not be removed. We haven't changed our phpdoc CS.

[2016-05-26 10:24] stof opened #1916 "Create a fixer fixing the return null vs void return statements"
This fixer should handle 2 things (may be 2 different fixers though):
- converting `return;` to `return null;` when the function is not a void one (i.e. it has another return statement returning something explicitly. This may also read the phpdoc to detect more case but this is optional)
- converting `return null;` to `return;` in void-returning functions (detecting through the vod return typehint

[2016-05-26 10:25] stof commented on #1638
I created https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1916 to suggest another fixer which would be useful in the Symfony ruleset to replace ``empty_return`` to match our updated CS.

[2016-05-26 10:45] SpacePossum commented on #1916
If we check the code and the PHPDoc of the function/method and these are in conflict than how should we proceed, fix the return value or the PHPDoc?

[2016-05-26 10:47] stof commented on #1916
@SpacePossum you mean if the phpdoc says ``@return void`` and the code contains return statements returning something else than null ? The method should be considered as a non-void-returning function, to keep the existing behavior of the code. Making the phpdoc win over the existing code would be risky.

[2016-05-26 14:09] keradus commented on #1638
So we still want to remove both `@return null` and `@return void` from PHPDoc ?

[2016-05-26 14:53] SpacePossum commented on #1638
What will be the default return value after 7.1? If it is `void` (would be an interesting BC but most valid), than we should remove `@return void` and leave `null` IMO.

(on a side note; for constructors I still like to remove any `@return` hint form the PHPDocs)

[2016-05-26 14:57] keradus commented on #1638
(constructors are totally different case, eg you shouldn't typehint constructor output with`: Foo`)

[2016-05-26 21:42] #1828 closed

[2016-05-26 21:55] #1900 closed

[2016-05-26 22:11] jaydiablo opened #1918 "Lines in docblock are removed if they follow a removed docblock "annotation""
I looked through the tickets a bit to see if this has been reported before, but it didn't seem like it has.

I'm using the current version of php-cs-fixer (which is 1.11.2 as of this writing), with the following rules (from our .php_cs file):

[code]

We ran the fixer on a wordpress theme, which had some docblocks like this:

[code]

After php-cs-fixer ran, the file looked like this:

[code]

Unfo

[2016-05-26 22:17] keradus commented on #1918
It looks like You have wrong PHPDoc. Whole PHP CS Fixer fixers for PHPDoc follows PHPDoc standard (/ PSR-5 proposal)

Your docblock should look like:
[code]

For that, `Template Name: ...` is treaten as annotation description.
Move your description after summary and before annotations section, and it should work

[2016-05-26 22:22] GrahamCampbell commented on #1918
Indeed this is not a bug, Your last part is parsed by most phpdoc parsers as part of the description for the annotation above it. I found many cases in places like guzzle and the aws sdk where that style of parsing is assumed when I originally researched this.

TLDR: All phpdoc level descriptions must go before annotations, otherwise they become attached to the annotation above them.

[2016-05-26 23:13] keradus commented on #1857
Closing due to discussion.

[2016-05-26 23:13] #1857 closed

[2016-05-26 23:14] #1869 closed

[2016-05-26 23:23] keradus opened #1920 "adjust `no_extra_consecutive_blank_lines` rule for `@symfony` ruleset"

[2016-05-26 23:38] jaydiablo commented on #1918
Ok, thanks for the info, I'll be sure that our team doesn't write doc blocks in that fashion from now on :)

[2016-05-26 23:38] #1918 closed

[2016-05-27 11:22] Seldaek commented on #1726
Please see #1921

[2016-05-27 14:37] localheinz opened #1922 "Weird replacement notice following abandonment of fabpot/php-cs-fixer"
When installing locally, the following notice is generated

[code]

💁 Notice

[code]

When you look at https://packagist.org/packages/fabpot/php-cs-fixer, you can see this as well:

![screen shot 2016-05-27 at 16 32 23](https://cloud.githubusercontent.com/assets/605483/15611015/a01c2f30-2428-11e6-904a-2f63c73cac71.png)

Not quite sure if this is a `composer/composer` or `composer/packagist` issue,

[2016-05-27 14:37] localheinz commented on #1922
/cc @Seldaek

[2016-05-27 14:39] GrahamCampbell commented on #1922
Looks like a composer/packagist bug. ;)

[2016-05-27 14:40] GrahamCampbell commented on #1922
We've not left a custom message I don't think?

[2016-05-27 14:41] gharlan commented on #1922
And the link to the new package has no href tag.

[2016-05-27 15:13] Seldaek commented on #1922
Yeah we just assume that people put package names in there not sentences. I corrected it.

[2016-05-27 16:01] localheinz commented on #1922
@Seldaek

👍

[2016-05-27 16:01] #1922 closed

[2016-05-27 16:05] localheinz opened #1923 "NoUselessElse fixer applies invalid fix"
Noticed that applying the `no_useless_else` fixer on

[code]

results in

[code]

Any idea? Using https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases/tag/v2.0.0-alpha on

[code]

/cc @SpacePossum

Related to #1773.

[2016-05-27 16:31] cprn opened #1924 "Wrong namespace fix for symfony tests"
The following directories structure is in accordance to current Symfony conventions:
[code]

This is how namespace should be declared in `Foo.php` according to 2nd example in [manual](http://symfony.com/doc/current/book/testing.html#unit-tests):
[code]

Running `php-cs-fixer fix --level=symfony .` changes namespace casing which breaks some functionalities:
[code]

[2016-05-27 16:43] localheinz commented on #1924
@cprn

Are you using the PSR-0 fixer?

Noticed this problem a while ago when the PSR-0 fixer was still enabled by default.

Disabling it solved the problem.

[2016-05-27 17:16] GrahamCampbell commented on #1924
Yeh, this issue can be safely closed. Your codebase is not PSR-0, so please don't run the PSR-0 fixer. I have written a PSR-4 for us (well, I say I wrote it, while my name is on the PR, the code is pretty similar to the PSR-0 fixer, so thanks to the original contributors ;D).

[2016-05-27 17:49] cprn commented on #1924
@GrahamCampbell @localheinz But shouldn't `--level=symfony` disable PSR-0 and make sure PSR-4 is enabled for me?

[2016-05-27 18:30] Hariador opened #1925 "SelfUpdateCommand updates to non-stable version"
The currently hosted phar does not run.

jon@jon-bold-mac:~/repo$ php php-cs-fixer2 fix ./back-end/
PHP Fatal error:  Class 'Symfony\CS\Finder\DefaultFinder' not found in /home/jon/repo/back-end/.php_cs on line 3

Here's the contents of our .php_cs file.

<?php

$finder = Symfony\CS\Finder\DefaultFinder::create()
	->exclude('config','storage','bootstrap')
	->in(__DIR__);

return Symfony\CS\Config\

[2016-05-27 18:36] GrahamCampbell commented on #1924
Yes, that's the case in 2.x. We can't change it in 1.x for BC reasons.

[2016-05-27 18:40] GrahamCampbell commented on #1925
That's because you are using the 2.x version. You need to use 1.x if you want that file.

[2016-05-27 18:41] GrahamCampbell commented on #1925
https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases

[2016-05-27 18:47] Hariador commented on #1925
Sorry, the '2' was just added by me while I was saving the .phar.
curl http://get.sensiolabs.org/php-cs-fixer.phar -o php-cs-fixer
is what I ran to get it.

And I assume by "that file" you're referring to .php_cs?

[2016-05-27 18:49] gharlan commented on #1925
There is a mistake on http://cs.sensiolabs.org. It is 2.x but should be 1.x.

[2016-05-27 19:13] keradus commented on #1924
Closing due to discussion

[2016-05-27 19:13] #1924 closed

[2016-05-28 04:21] mablae opened #1928 "Add HTML output --format option"
It would be nice to be able to output a selfcontained HTML Report
with some nice CSS Styling and maybe JS collapsed boxes.

The gulp-csslist-report plugin could be taken as an example.

These file could then be handled and shown within the CI Pipeline (Jenkins and Others)

[2016-05-28 04:23] mablae opened #1929 "Docs for --format option are missing in Readme"
As above.

It is only mentioned slightly in the `--verbose` section.

[2016-05-28 06:06] keradus commented on #1929
Current release is 1.11.
For next minor release re already added it: https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/1.12/README.rst#usage

Thanks and have a good day !

[2016-05-28 06:06] #1929 closed

[2016-05-28 06:08] keradus commented on #1928
Instead of non-standardized HTML page I would go with standard format readable by CI GUIs, eg JUnit: https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/1825

[2016-05-28 06:38] mablae commented on #1928
Okay, please close then. XLST transform still possible with XML

[2016-05-28 21:33] GrahamCampbell opened #1931 "Unwanted effects of the no_extra_consecutive_blank_lines fixer"
We should allow whitespace where the next token is a comment, such as in Laravel config files:

![image](https://cloud.githubusercontent.com/assets/2829600/15630078/38c11100-2524-11e6-8482-ac4408eed05e.png)

[2016-05-28 21:34] GrahamCampbell commented on #1931
I don't want that change to happen, but I do want every other change by the fixer to happen.

[2016-05-28 23:21] GrahamCampbell opened #1932 "Support turning off the anonymous function part of the braces fixer"
It would be really good if this could be configured to turn off part that messes with code like this:

[code]

[2016-05-28 23:27] gharlan commented on #1932
Please not. It is PSR-2.
We also do not accept things like `class Foo {}`.

[2016-05-29 09:51] SpacePossum commented on #1931
why not configure the fixer without `'extra'` (on master/2.x) for the config files?

[2016-05-29 09:56] GrahamCampbell commented on #1931
I can't. That's what I want to do, I want to enable `return`, but that makes this bad change.

[2016-05-29 10:01] SpacePossum opened #1933 "[FR] Transformer for open tag"
Currently the open tag `<?php\n` get tokenized as;
[code]
Suggest to tokenize to two tokens;
[code]

If the next token after the open token is a whitespace token the whitespace tokens should be merged into one.

[2016-05-29 17:20] keradus commented on #1928
great to agree on that!

[2016-05-29 17:20] #1928 closed

[2016-05-29 19:31] keradus commented on #1932
:+1:
I agree with @gharlan , exceptions are not good

[2016-05-29 19:33] GrahamCampbell commented on #1932
Well, who's to say everyone wants to follow PSR-2 to the letter. I know a lot of people who are happy to put code like this in their tests.

Could we have the exception being for if there are no tokens between the opening and closing brace, to keep it simple? ie, we still fix `function () { return 'bar'; };`, but we don't change `function () {};`.

[2016-05-30 12:22] mambax7 opened #1935 "php-cs-fixer.phar"
Why is the link: http://get.sensiolabs.org/php-cs-fixer.phar
links to a:
PHP CS Fixer version 2.0-DEV
Where can I find the current stable version 1.11.3

[2016-05-30 12:24] gharlan commented on #1935
ref #1925

[2016-05-30 12:24] SpacePossum commented on #1935
duplicate:
https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1925#issuecomment-222225044
@see https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases

[2016-05-30 12:26] SpacePossum commented on #1935
[code]

[2016-05-30 12:31] mambax7 commented on #1935
Thank you!

[2016-05-30 12:57] keradus commented on #1935
Closing as duplicate, contacted with @fabpot on last Friday

[2016-05-30 12:57] #1935 closed

[2016-05-30 17:12] GrahamCampbell opened #1937 "Broken concat_without_spaces and full_opening_tag combination"
Using the latest php-cs-fixer 2.x, enable only the following two fixers: `concat_without_spaces` and `full_opening_tag`, and then with the following valid file, php-cs-fixer breaks it...

**Input:**

[code]

**Output:**

[code]

PHP now says:

[code]

[2016-05-30 17:14] gharlan commented on #1937
The file (input) is not valid!

[2016-05-30 17:18] #1937 closed

[2016-05-30 17:18] GrahamCampbell commented on #1937
LOL, yes indeed. PHP 7's linter said it was valid because short tags were disabled.

[2016-05-30 17:41] GrahamCampbell opened #1938 "Test case that crashes php-cs-fixer"
Latest 2.x. Enable the fixers: `braces` and `elseif` only.

**Input:**

[code]

[2016-05-30 18:11] keradus commented on #1938
is it the same on 1.x as well ?

[2016-05-30 18:40] GrahamCampbell commented on #1938
D'no. Give me a few mins and I'll test and report back.

[2016-05-30 19:19] GrahamCampbell commented on #1938
The diff on 1.12.2 and 1.12.3 is identical, and is as follows:

[code]

The exception on the current master is:

[code]

[2016-05-30 19:21] GrahamCampbell commented on #1938
While 1.11.x is not throwing an exception, I'd still say the output is wrong.

[2016-05-30 21:48] keradus commented on #1938
I was able to reproduce exception on 1.11 as well

[2016-05-30 23:56] keradus commented on #1933
so far it was 1 or 2 fixers affected by this.
is it worth to always normalize it ?

if it won't be needed for more transformers then it's not needed to pay transformation cost.

[2016-05-30 23:58] keradus commented on #1907
Closing due to discussion

[2016-05-30 23:58] #1907 closed

[2016-05-31 05:19] SpacePossum commented on #1933
You're right, lets park this until needed for the fixer itself and more common cases.

[2016-05-31 05:19] #1933 closed

[2016-05-31 06:55] SpacePossum commented on #1871
[code]

the header fixer only runs on monolithic PHP files. An exception for files starting with a shebang could be made if we wan to. I'm :+1: , any other thoughts are welcome :)

(ps. this does not mean I start dev.ing it right away)

[2016-05-31 06:58] SpacePossum commented on #1447
got an update maybe?

[2016-05-31 07:08] SpacePossum commented on #1330
This works on 1.11, 1.12 and master. I suggest closing this unless someone really wants to fix it on 1.10 as well.

There is another issue on 1.12 though with fixing the example.
Input:
[code]

command; ` php php-cs-fixer fix test.php -vvv`

after iteration one;
[code]

re-run, iteration 2;
[code]

I guess this covered by the other header fixer conflicts issues reported?

[2016-05-31 10:26] #1447 closed

[2016-05-31 10:26] GrahamCampbell commented on #1447
Working fine on the current 2.x.

[2016-05-31 10:34] GrahamCampbell commented on #1755
Here is a smaller test case:

[code]

It gets fixed to this:

[code]

[2016-05-31 10:36] #1619 closed

[2016-05-31 10:37] GrahamCampbell commented on #1619
Done.

[2016-05-31 10:37] #1665 closed

[2016-05-31 10:37] #1672 closed

[2016-05-31 11:06] SpacePossum commented on #1672
the "elseif" is still valid, although hard to make ;)

[2016-05-31 11:27] keradus commented on #1619
thanks for cleaning things up !

[2016-05-31 11:54] #1547 closed

[2016-05-31 12:14] jsor opened #1942 "no_unneeded_control_parentheses changing code behaviour"
Running with `no_unneeded_control_parentheses => true` (2.0-DEV) turns

[code]

into

[code]

which changes code behaviour.

[2016-05-31 12:17] GrahamCampbell commented on #1942
Oh dear, yes. Could result in a fatal error if we try to clone `null` there too. Thanks for the report.

[2016-05-31 12:53] keradus commented on #906
Closing due to merge of #1712

[2016-05-31 12:53] #906 closed

[2016-05-31 12:53] keradus commented on #839
Closing as done

[2016-05-31 12:53] #839 closed

[2016-05-31 13:30] keradus commented on #1330
Thanks for checking this @SpacePossum !
1.10 is not supported.

[2016-05-31 13:30] #1330 closed

[2016-05-31 15:48] Soullivaneuh commented on #1923
Also got an issue with `no_useless_else`

This:

[code]

Is converted to this:

[code]

But in this case, `$qb` will be overridden even if `$options['user']` is not null.

[2016-05-31 15:49] localheinz commented on #1923
@Soullivaneuh

Looks like the exact same thing, right?! 😃

[2016-05-31 15:50] Soullivaneuh commented on #1923
@localheinz Well, indeed. End of the day, you know... :-)

[2016-05-31 15:50] greg0ire commented on #1923
"Me too" :trollface:

[2016-05-31 17:44] SpacePossum commented on #1923
just a little longer, fix is on it way...

[2016-05-31 17:50] SpacePossum commented on #1923
btw. @Soullivaneuh could you share a bit more of the code being changed incorrectly, it is prop. because of the tokens found just before the `if` (I hope, otherwise there is another issue..)

[2016-05-31 18:23] Soullivaneuh commented on #1923
@SpacePossum Of course!

[code]

[2016-05-31 18:47] SpacePossum commented on #1923
Thanks!
Indeed same issue, the `return` before the `if`, will fix :)

[2016-06-01 06:54] jaszczurek opened #1943 "anonymous functions and brackets"
why:
[code]
but:
[code]

[2016-06-01 06:57] jaszczurek opened #1944 "Group use declarations causes internal error"
This is not working:
http://php.net/manual/en/language.namespaces.importing.php#language.namespaces.importing.group
"Files that were not fixed due to internal error"

[2016-06-01 08:20] GrahamCampbell commented on #1944
Yes, these are known not to be supported by php-cs-fixer.

[2016-06-01 08:21] GrahamCampbell commented on #1944
They are listed in there as todo.

[2016-06-01 19:03] GrahamCampbell opened #1945 "Another php-cs-fixer crash"
Latest 2.x will crash with:

[code]

Here is the exception:

[code]

Source: https://github.com/padraic/mockery/blob/master/tests/Mockery/Fixtures/SemiReservedWordsAsMethods.php.

[2016-06-01 21:02] SpacePossum commented on #1945
and the linting went ok? This is online valid on PHP7 and if you fix it with another version of PHP the tokens seems off.

[2016-06-01 21:48] GrahamCampbell commented on #1945
Yes, I'm using PHP 7.0.7 to lint and fix the file.

[2016-06-01 21:51] gharlan commented on #1945
refs #1772 and #1837

[2016-06-02 16:41] huebs opened #1948 "Add CLI Option to Disable Cache"
I'd love to be able to disable caching using a command line option (e.g. `--no-cache`). I'm glad to implement this feature myself but wanted to run it by the community first.

My use case is this: Most of my repositories contain a `.php_cs` file with the caching feature enabled. I code in PHPStorm. I have two [External Tools](http://tzfrs.de/2015/01/automatically-format-code-to-match-psr-standards

[2016-06-02 19:41] keradus commented on #1948
kuhl AUGENOPTIK

Hello.
First of all thak you for your post.
It's really good organised and it was nice to read it.

It's great that you are aware of upcoming 2.0 version. We have recently release 2.0.0-alpha, which you could give a try.

`Easy way` solution was implemented on 2.x line and it's `--using-cache` CLI parameter that will override setting from config file.
Also, `hard way` was implemen

[2016-06-02 21:21] huebs commented on #1948
Thanks for taking the time to respond. It's great to hear this has already been addressed. I'll definitely take a look at the 2.x branch when I have a chance.

[2016-06-03 08:15] keradus commented on #1948
In that case I'm closing the issue ;)

[2016-06-03 08:15] #1948 closed

[2016-06-03 13:23] SpacePossum opened #1950 "Remove `JSON_NUMERIC_CHECK` from `Token::toJSON`"
Example:
[code]

result:
[code]

on;
`PHP 5.5.9-1ubuntu4.17 (cli) (built: May 19 2016 19:05:57) `

[2016-06-03 13:32] keradus commented on #1950
could it fail for real piece of code ?

[2016-06-03 13:38] SpacePossum commented on #1950
well depends; if you use the fixer in another project and have token of 2nd type and rely on the JSON method yes, but currently within the fixer project we are OK.

[2016-06-03 17:39] keradus commented on #1950
OK, I put it in another words.

Could you provide valid PHP code example, that will produce that error for `Tokens::fromCode($example)->toJson()` ?
If so, we should add that test and fix `toJson`. If not, we may add validation to Token construtor (but that could grately decrease our performance, and may not be that much needed)

[2016-06-03 21:51] #1938 closed

[2016-06-03 22:25] GrahamCampbell opened #1951 "PHPUnit 5.4 Warnings"
![image](https://cloud.githubusercontent.com/assets/2829600/15794414/78e8bedc-29e2-11e6-8480-41ba0640a95f.png)

[2016-06-03 22:26] GrahamCampbell commented on #1951
Note that the replacement method was only added in PHPUnit 5.4 too.

[2016-06-04 11:27] OxGroup opened #1952 "--level"
$ php-cs-fixer fix ./ --level=psr2

  [Symfony\Component\Console\Exception\RuntimeException]
  The "--level" option does not exist.

fix [--path-mode PATH-MODE] [--allow-risky ALLOW-RISKY] [--config CONFIG] [--dry-run] [--rules RULES] [--using-cache USING-CACHE] [--cache-file CACHE-FILE] [--diff] [--format FORMAT] [--] [<path>]...

$ php-cs-fixer --version
PHP CS Fixer version 2.0-DEV by Fabien Po

[2016-06-04 11:40] GrahamCampbell commented on #1952
This was removed in 2.x. Please read the upgrading guide.

[2016-06-04 12:38] keradus commented on #1952
Closing due to discussion

[2016-06-04 12:38] #1952 closed

[2016-06-04 15:04] sebastianbergmann opened #1953 ""php-cs-fixer selfupdate" installed 2.0-DEV"
Just did a `php-cs-fixer selfupdate` and that gave me 2.0-DEV:
[code]
Using the version I got by doing so does not work:
[code]

[2016-06-04 15:18] SpacePossum commented on #1953
I didn't expect `selfupdate` to update to a non-stable...
The exception thrown is because the configuration file given is good for 1.x but cannot be used for 2.x.
(ref.: https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1749).
There are two work arounds I can think of;
- switch back to 1.11 (current stable) (`$ wget http://get.sensiolabs.org/php-cs-fixer-v1.11.phar -O php-cs-fixer`), or;
- updat

[2016-06-04 15:19] sebastianbergmann commented on #1953
Yes, I was quite surprised by `selfupdate` installing an unstable version. I have since reverted to the latest stable.

[2016-06-04 15:23] sebastianbergmann commented on #1953
Turns out I did not revert back to the latest stable as I cannot find that. `http://get.sensiolabs.org/php-cs-fixer.phar` is 2.0-DEV.

As a sidenote, it would really great if downloads of PHP Archives (PHARs) were made available on a site similar to https://phar.phpunit.de/. HTTPS, release archive, Phive metadata. You get the idea :-) Easy to set up using https://github.com/sebastianbergmann/phar-

[2016-06-04 15:31] SpacePossum commented on #1953
latest stable is here, hope it helps;
http://get.sensiolabs.org/php-cs-fixer-v1.11.phar

I would like to see the releases be a bit more organised for downloading and on [HTTPS](https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1242) :)

[2016-06-04 15:33] keradus commented on #1909
@OskarStark could you temporary switch to #1955 and check out bug you detected ?

[2016-06-04 15:37] keradus commented on #1953
Thank you @sebastianbergmann for your report.

I already started discussion about it with Fabien. Please be patient.

Closing as duplicate of #1925

[2016-06-04 15:37] #1953 closed

[2016-06-04 16:53] keradus commented on #1925
ref #1956

[2016-06-04 17:57] GrahamCampbell opened #1957 "SingleLineAfterImportsFixer broken"
Consider the following input file:

[code]

We'll end up with:

[code]

[2016-06-04 18:48] keradus commented on #1909
New fixer to normalize index parenthesis: #1958

[2016-06-04 18:53] keradus commented on #1957
It's awesome you reported more and more failing cases.
Please, remember to always provide min supported version in which the bug occurs.

Also, we won't be able to solve everything. Feel free to help with bugfixing.

[2016-06-04 19:08] keradus commented on #1951
Fix in in RTM state, closing for cleanup

[2016-06-04 19:08] #1951 closed

[2016-06-04 19:33] keradus opened #1959 "Handling semi-reserved words"
From PHP 7 some reserved words become semi-reserved, eg now we could make a constant named `public`, which for PHP 5 could be only visibility attribute.

This issue is to collect all talk in one place, so it replaces #1772, #1837, #1945 .

General thoughts collected from mentioned issues:
- code using on semi-reserved keywords is valid only for PHP7
- by default, PHP tokenizer get lost in given ca

[2016-06-04 19:35] keradus commented on #1837
Closing in favour of #1959, which is combining multiple threads of same issue (#1772, #1837, #1945).
Thank you @sebastianbergmann, @gharlan, @SpacePossum for discussion so far! Please, move forward discussion (if any) to new thread.

[2016-06-04 19:35] #1837 closed

[2016-06-04 19:35] keradus commented on #1772
Closing in favour of #1959, which is combining multiple threads of same issue (#1772, #1837, #1945).
Thank you @gharlan, @GrahamCampbell for discussion so far! Please, move forward discussion (if any) to new thread.

[2016-06-04 19:35] #1772 closed

[2016-06-04 19:36] keradus commented on #1945
Closing in favour of #1959, which is combining multiple threads of same issue (#1772, #1837, #1945).
Thank you @gharlan, @SpacePossum for discussion so far! Please, move forward discussion (if any) to new thread.

[2016-06-04 19:36] #1945 closed

[2016-06-05 10:18] SpacePossum commented on #1691
closed by;
https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/1894 and
https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/1947

[2016-06-05 10:18] #1691 closed

[2016-06-05 20:22] keradus commented on #1895
Closed by #1896

[2016-06-05 20:22] #1895 closed

[2016-06-05 20:40] keradus commented on #1942
Exists on 1.11 as well.
@Soullivaneuh please, could you take a look ?

[2016-06-06 05:55] Soullivaneuh commented on #1942
Yes. And I supposed that:

[code]

Should not be changed too, right?

[2016-06-06 08:11] keradus commented on #1909
Fixed by #1955. Sadly, fix was a BC breaker, so it's fixed only in 2.x version.
If anyone want to port the fix to 1.11 feel free to do so

[2016-06-06 08:11] #1909 closed

[2016-06-06 08:16] #1942 closed

[2016-06-06 08:19] OskarStark commented on #1909
Sorry, i didn't have time the last 2 days, but i will try the 2.x version...

[2016-06-06 13:35] SpacePossum commented on #1950
We should be OK using `Tokens::fromCode`, so lets close this :)

[2016-06-06 13:35] #1950 closed

[2016-06-06 13:39] keradus commented on #1950
great to hear!
thanks ;)

[2016-06-06 17:00] prisis opened #1964 "Are php7 namespaces supported?"
Something like

[code]
or
[code]

Because they like to be always removed from cs-fixer, using 2.0-alpha

[2016-06-06 17:01] GrahamCampbell commented on #1964
No. Please see the existing issue about this.

[2016-06-06 17:01] #1964 closed

[2016-06-07 07:27] #1925 closed

[2016-06-07 08:03] keradus commented on #1925
If sb have updated to 2.0.0-alpha and want to rollback he should run self-update once again, he will get latest stable 1.11.4

[2016-06-07 11:12] cedricziel opened #1966 "Wrong version on downloads?"
When downloading the phar from `http://get.sensiolabs.org/php-cs-fixer.phar`, the current version is 1.11.4 where it was before a version with the `--rules` argument existent. - Presumably a build from master.

I just discovered this when a build using the `--rules` argument failed. (https://travis-ci.org/GoogleCloudPlatform/php-docker/builds/135836382)

What are we supposed to to over there? Is t

[2016-06-07 11:13] GrahamCampbell commented on #1966
Is http://get.sensiolabs.org/php-cs-fixer.phar not still 2.x? See the previou iussues.

[2016-06-07 11:22] SpacePossum commented on #1966
`http://get.sensiolabs.org/php-cs-fixer.phar` being `2.dev` was an accident, as we pref. to serve the latest stable on that URL. It is now serving `11.4` (the latest stable).

If you want to keep using `2.dev` (at your own risk) I'm not sure were you can download that one (you can build it yourself).

[2016-06-07 11:30] cedricziel commented on #1966
Current version:
`PHP CS Fixer version 1.11.4 by Fabien Potencier (eeb280e)`

Alright. Thank you for the prompt answers - very appreciated!

[2016-06-07 11:30] #1966 closed

[2016-06-07 13:13] keradus commented on #1966
@GrahamCampbell I fixed it this morning, during release of 1.11.4

[2016-06-07 13:14] keradus commented on #1966
@SpacePossum as usuall, `http://get.sensiolabs.org/php-cs-fixer-v%VERSION%.phar`, so `http://get.sensiolabs.org/php-cs-fixer-v2.0.0-alpha.phar`

[2016-06-07 13:22] SpacePossum commented on #1966
thanks! I tried `http://get.sensiolabs.org/php-cs-fixer-v2.dev.phar`  ^_^

[2016-06-07 15:41] keradus opened #1968 "v1.11.4 phar is broken for old PHP"
`PHP Parse error:  syntax error, unexpected 'self' (T_STRING) in phar:///var/lib/jenkins/bin/php-cs-fixer/vendor/symfony/process/Process.php on line 538`

refs https://github.com/GoogleCloudPlatform/php-docker/issues/111#issuecomment-224297453

[2016-06-07 15:44] GrahamCampbell commented on #1968
Looks like the phar was built without respecting the min php version.

[2016-06-07 15:45] GrahamCampbell commented on #1968
There is an easy fix...

[2016-06-07 15:45] GrahamCampbell commented on #1968
BUT, it will break testing on symfony 3...

[2016-06-07 15:47] GrahamCampbell commented on #1968
@keradus See https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/1969. It will stop the phar getting built with symfony 3 dependencies that need php 5.5.9.

[2016-06-07 17:47] SpacePossum commented on #1968
Thanks!
The SF 3 req. shouldn't be a problem right? Since 1.11 doesn't require SF 3.x we can release a phar with 2.x packages?

[2016-06-07 20:14] #1755 closed

[2016-06-09 09:22] gharlan commented on #1959
👍 Thanks for working on this!

[2016-06-09 14:07] joereynolds commented on #1901
Hey, sorry about the delay. The version is 1.11.2

Here's the output from ```php-cs-fixer --help```

[code]

In particular it's missing things about dry runs, the different standards available. Thanks!

[2016-06-09 14:27] joereynolds commented on #1901
*sigh*

[2016-06-09 14:27] #1901 closed

[2016-06-09 22:16] Soullivaneuh opened #1975 "Class keyword fixers"
Doc ref: http://php.net/manual/en/language.oop5.basic.php#language.oop5.basic.class.class

My proposal is to create two fixers:
- [ ] `class_keyword`: Replace string like `'Foo\Bar'` by `Bar::class` and add the corresponding import.
- [x] `class_keyword_remove`: Replace all `Foo::class` by the string namespace, like `'Foo\Bar'`. #1985

The first one will be executed only if possible. Example with

[2016-06-09 22:31] GrahamCampbell commented on #1975
Adding the corresponding import might not be possible due to conflicts.

[2016-06-09 22:31] GrahamCampbell commented on #1975
Resolving these is non-trivial.

[2016-06-09 22:39] Soullivaneuh commented on #1975
Read my sentence after the list. :wink:

What do you mean?

[2016-06-10 08:40] drAlberT commented on #1715
I have a similar issue .. I think this can be a bug.

# test n°1

source:
![screen shot 2016-06-10 at 10 34 03](https://cloud.githubusercontent.com/assets/1442700/15958626/05a7d2ea-2ef7-11e6-8073-2415f7de28db.png)

corrected into:
![screen shot 2016-06-10 at 10 34 32](https://cloud.githubusercontent.com/assets/1442700/15958637/1ad41e76-2ef7-11e6-9fe1-c5fefa1f5382.png)

# test n°2

source:
![screen

[2016-06-10 08:46] Soullivaneuh opened #1976 "Single line class and method declaration fixers"
Those fixers should be on the Symfony group according to the [coding standards](http://symfony.com/doc/current/contributing/code/standards.html#structure):

- [x] Class declaration: #1979
- [x] Method declaration: #1980

[2016-06-10 09:13] Soullivaneuh opened #1977 "Multiple argument isset refactor fixer"
Isset cans take several arguments.

So a code line like this:

[code]

Can be turned to this:

[code]

I don't think the fixer will be risky, will be?

[2016-06-10 09:54] SpacePossum commented on #1977
this can indeed be done, :+1:   for the idea :)

[2016-06-10 10:19] SpacePossum commented on #1976
we don't have those ^-^

[2016-06-10 10:55] Soullivaneuh commented on #1976
Oh, really? :trollface:

[2016-06-10 11:33] SpacePossum commented on #1876
[code]

please let the fixer remove the `break` in these cases as well :)

[2016-06-10 12:32] GrahamCampbell commented on #1715
Not a bug.

[2016-06-10 12:38] drAlberT commented on #1715
OK, I trust your answer ... but can you explain why? ... thanks

[2016-06-10 13:11] GrahamCampbell commented on #1715
Because phpdoc must follow a structural block. That is not valid. You should use class constants if you want doc.

[2016-06-10 13:12] keradus commented on #1715
and the first one is not touched as it's recognized as file-level doc, right ?

[2016-06-10 13:14] GrahamCampbell commented on #1715
Ish. Our file level stuff is broken too anyway.

[2016-06-10 13:26] keradus commented on #1715
BTW, any answer for https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1715#issuecomment-177475696 ?

[2016-06-10 14:25] drAlberT commented on #1715
So, what about this [doc](https://manual.phpdoc.org/HTMLSmartyConverter/HandS/phpDocumentor/tutorial_elements.pkg.html#procedural) about procedural elements ? .. I'm confused

[2016-06-10 14:34] SpacePossum commented on #1715
thats on `phpdoc` and prop. not on PSR5 (which is kind of followed here), I like `phpdoc` better in this case btw.

[2016-06-10 14:35] GrahamCampbell commented on #1715
phpdoc.org is not widely used. See PSR-5.

[2016-06-10 14:46] drAlberT commented on #1715
So, as per [PSR-5](https://github.com/phpDocumentor/fig-standards/blob/master/proposed/phpdoc.md) the right way to document a define should be

[code]

right?

[2016-06-10 14:48] GrahamCampbell commented on #1715
No? It says you can't put doc on those.

[2016-06-10 14:50] drAlberT commented on #1715
I'm starting to feel stupid :(

![screen shot 2016-06-10 at 16 50 04](https://cloud.githubusercontent.com/assets/1442700/15968255/7246bab8-2f2b-11e6-9e6b-a5b6f4f2a3ab.png)

[2016-06-10 14:51] keradus commented on #1715
constant:

[code]

it's not the same like `define("foo", "bar")` in global level

[2016-06-10 14:51] GrahamCampbell commented on #1715
That's **not** a constant. This is a constant:

[code]

[2016-06-10 14:52] digitalkaoz opened #1981 "anonymous function return type breaks fixer"
[code]

will be fixed into

[code]

but only if i turn of linting...

if i remove the return type everything works fine

[2016-06-10 14:52] GrahamCampbell commented on #1715
@keradus We posted at the same time. :)

[2016-06-10 14:52] GrahamCampbell commented on #1981
We don't support files that use return typehints.

[2016-06-10 14:53] keradus commented on #1715
;)

@GrahamCampbell
BTW, any answer for https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1715#issuecomment-177475696 ?

[2016-06-10 14:53] GrahamCampbell commented on #1981
See the existing issue please.

[2016-06-10 14:54] digitalkaoz commented on #1981
mh it works in all other classes as expected...

[2016-06-10 14:55] GrahamCampbell commented on #1715
Well, no, not really. The type can already be infered. It's a constant, so cannot change.

[2016-06-10 14:56] Soullivaneuh commented on #1977
@keradus On which group this should be added? Symfony? Contrib? CaptainObvious?

We should definitely create a CaptainObvious one. :trollface:

[2016-06-10 14:56] keradus commented on #1715
https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1715#issue-129483212

there is no constant here ...

[2016-06-10 14:58] digitalkaoz commented on #1981
im using the 2.0 branch btw

[2016-06-10 14:59] keradus commented on #1981
Thank you @digitalkaoz for your report.
We are not yet fully supporting PHP 7, but we are working on it, last one is to handle semi-reserved keywords.
Closing as duplicate of #1119. Please, feel free to help bringing PHP 7 syntax support ;)

[2016-06-10 14:59] #1981 closed

[2016-06-10 15:00] Soullivaneuh commented on #1977
BTW, the same can be done for `unset`.

Before:

[code]

After:

[code]

[2016-06-10 15:01] keradus commented on #1977
We already have `combine_consecutive_unsets`

[2016-06-10 15:02] GrahamCampbell commented on #1715
Meh, well, I didn't write that fixer. I don't disagree that's not useful.

[2016-06-10 15:03] keradus commented on #1715
On the very beginning you said to remove whole comment ...

[2016-06-10 15:03] drAlberT commented on #1715
ok got the point .. sorry and thanks for the patience.

What I think is buggy is the fact that the first define is not touched .. I already have a file-level docblock at the beginning of the file .. so what is the difference from the 1st define and the next one?

@GrahamCampbell eeh you are a `!!guy` ("I don't disagree that's not useful") .. just joking ;)

[2016-06-10 15:08] SpacePossum commented on #1715
we have fixer for that case; (bool) guy

back to topic, I think both the case from @keradus and all of those from the screenshots of @drAlberT are correct. Someone should tweak the fixers

[2016-06-10 15:09] GrahamCampbell commented on #1715
Meh. Maybe you convinced me. ;P

[2016-06-10 22:07] Soullivaneuh commented on #1923
@keradus This should be closed, should not be?

[2016-06-11 07:30] keradus commented on #1923
indeed, thx.

[2016-06-11 07:30] #1923 closed

[2016-06-11 07:47] SpacePossum commented on #1943
Indeed https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md#6-closures examples show the first sample you provided is correct.
Didn't check but my guess this is done incorrectly because of the return type statement, which we don't support completely yet.
Thanks for reporting!

[2016-06-11 08:59] keradus commented on #1959
Bugpart fixed by #1970

[2016-06-11 13:26] Soullivaneuh opened #1983 "PHPDoc order, the Symfony way"
Currently, the `phpdoc_order` sorts the annotations like this:

[code]

But, according to the [Symfony Coding Standard sample](http://symfony.com/doc/current/contributing/code/standards.html), this should be like this:

[code]

In a nutshell, `@throws` should be after `@return`, not before.

It would be great to have another fixer to be integrated directly to the Symfony group.

What do you think?

[2016-06-11 15:53] GrahamCampbell opened #1984 "Proposal not to not support phpdoc format array<string, int>"
We currently don't support this, and I think we never should. It's a stupid syntax, and conficts with https://wiki.php.net/rfc/generics.

[2016-06-11 16:08] Soullivaneuh commented on #1984
I don't use it but I think it's recognized by IDEs and used to specify what is in the array.

Why?

In which cases? BTW, you are talking about PHP 7 only.

[2016-06-11 17:34] SpacePossum commented on #1984
PSR 5 doen't provide an alternative.
Link to generics is not about PHPDocs.
I don't see an issue.

[2016-06-11 17:35] SpacePossum commented on #1983
:+1:

[2016-06-11 18:05] GrahamCampbell commented on #1984
The syntax is stupid because `<string, int>`, to me, doesn't indicate, ok, put strings and ints wherever you want, it indicates, string, then int, with some intrinsic meaning, where the order matters. One such use is generics.

[2016-06-11 21:38] keradus commented on #1984
PSR5 specify it quite well and there is only one way of understanding it.
`Collection<VAL>` for collection of items of VAL type
`Collection<KEY, VAL>` for collection of items of VAL type indexed by KEY type.

Which in fact is just like referred proposal: `Entry<KeyType, ValueType>`

--------------

I don't see any value for dropping this syntax (even if we don't support it everywhere yet). If you

[2016-06-12 02:44] ctf0 opened #1986 "unused_use [symfony] bad behavior"
example
[code]
currently both of the use statements will be deleted, while `use App\Http\Controllers\Controller;` should be kept.

using **homebrew/php/php-cs-fixer: stable 1.11 (bottled)**

[2016-06-12 07:39] keradus commented on #1983
:+1:
I already requested somewhere that this fixer should be configurable

[2016-06-12 07:46] keradus commented on #1986
You don't need to import class that is inside same namespace.

[2016-06-12 08:33] GrahamCampbell commented on #1986
Yeh, no bug.

[2016-06-12 08:34] GrahamCampbell commented on #1984
Oh, I see! I like that then. But, see what I mean about misunderstanding it, and actual use of it being low?

[2016-06-12 08:36] ctf0 commented on #1986
oki doki, many thanx then :)

[2016-06-12 08:36] #1986 closed

[2016-06-12 09:00] #1984 closed

[2016-06-12 17:37] rob006 commented on #1638
`void` is only pseudo-type, all functions still returns `null` by default, including `void`-functions. There is no need to change `return;` to `return null;` or `return null;` to `return;` or mark this fixer as risky.

[2016-06-12 19:58] keradus commented on #1984
I found it very useful for assoc arrays or doctrine collections ;)

[2016-06-12 20:51] keradus commented on #1986
btw, it may be nice to rename fixer to not lead to that misunderstanding
Then, we could also make it configurable, as it's very easy to apply configuration as the separated ideas (remove not used imports / remove not needed due to same namespace imports) are separated in code as well.

[2016-06-12 21:21] ctf0 commented on #1986
@keradus 👍  for the short description of the fixer

[2016-06-13 01:28] sharifzadesina opened #1987 "Header comment"
Hi
Due to [PSR 5 (PHPDoc standard)](https://github.com/phpDocumentor/fig-standards/blob/master/proposed/phpdoc.md#4-basic-principles) header comments or file level comments should start with double star `/**` not single star `/*`.
so other non-standard comments can start with single star `/*`.

For example:
[code]

[2016-06-13 01:52] sharifzadesina commented on #1987
at the other hand you must check [Structural Elements](https://github.com/phpDocumentor/fig-standards/blob/master/proposed/phpdoc.md#3-definitions) and prevent replacing header comment.

for example:
[code]

[code]

[2016-06-13 05:33] Soullivaneuh commented on #1983
If we make it configurable, how to integrate the Symfony configuration automatically on Symfony preset?

[2016-06-13 05:48] Soullivaneuh commented on #1987
The PSR-5 seems to be on the proposed section. Are we sure this one will be accepted?

[2016-06-13 05:51] SpacePossum commented on #1987
this is addressed in two PR's, latest open for review is https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/1949
so please give me feedback ;)

[2016-06-13 07:43] powelski commented on #1801
+1 for this feature! It's Laravel's convention to keep `use` by length and same length entries are ordered alphabetically.

[2016-06-13 08:23] GrahamCampbell commented on #1987
It's called header comment for a reason. Because it's meant to be a comment. What you're proposing is not a comment, it's phpdoc.

[2016-06-13 08:31] SpacePossum commented on #1987
indeed, that is why I called the configuration option `phpdoc`

[2016-06-13 09:12] GrahamCampbell commented on #1987
It is specifically called a header **comment**. I don't think we should allow configuration.

Even if we did, it still wouldn't work, because our other fixers would remove the blank line after it, or convert it back to a comment.

[2016-06-13 09:56] keradus commented on #1986
Sorry, didn't get that one. What do you mean ?

[2016-06-13 09:56] keradus commented on #1983
By adjusting `@Symfony` ruleset

[2016-06-13 09:58] SpacePossum commented on #1987
I think we should, there is no standard to not allow it.

Those fixers can be configured to ran or not so it is not an issue. I would like to see the PHPDoc to comment fixer fixed though, but it is not an requirement as people can switch the fixer off.

[2016-06-13 10:10] ctf0 commented on #1986
i meant adding short description under fixers to make it easier for the users to understand how its gonna effect their code.

[2016-06-13 10:12] keradus commented on #1986
Feel free to send PR to change `getDescription` ;)

[2016-06-13 12:35] SpacePossum commented on #1987
Nope, switched off the fixer and all good.
There are more conflicting fixers, it should not stop development. The PHPDoc to comment one can be fixed to be none-conflicting btw.

[2016-06-13 12:43] keradus commented on #1801
you are more than welcome to bring PR for it !

[2016-06-13 13:01] Phyks opened #1990 "Short diff"
Hi,

I am using PHP-CS with a combination of `--dry-run` and `--diff` for automated tests. However, diff is really verbose and outputs the diff of the whole file (starting from the error). Would it be possible to have only a short diff, suppressing common lines, as well?

For instance, for a file having an encoding issue (typically UTF-8 with BOM), it will display the +/- on the first line but wil

[2016-06-13 14:33] keradus commented on #1990
1. you don't need to show diff to have check failed.
2. but you probably want to have it to see why it fails, cool ;) for 1.x there is no plan to allow using different diff's (a lot of work needed), but there is a plan for 2.x line for allowing it (needed refactoring is already done and merged).

In the end, I think what you want is #299 .
Also, with proper implementation of #299 you will be able

[2016-06-13 14:37] Phyks commented on #1990
Indeed, #299 seems to match perfectly with what I need in the end. I focused on having a short diff, then did not find it when I searched for issues.

Closing as a duplicate, will subscribe to and follow #299.

[2016-06-13 16:03] keradus commented on #1638
huh?
[code]

PHP 7.1.0alpha1:

[2016-06-13 16:43] rob006 commented on #1638
@keradus Are we still talking about `return null;` to `return;` fixer?

[2016-06-13 17:02] stof commented on #1638
@keradus but the existing fixer is not risky, because it does not add `` null``. It *removes* it.

[2016-06-13 17:33] Soullivaneuh opened #1991 "Risky fixer explaination"
Currently, if you read the master readme, risky fixer are indicated by this string: `(Risky fixer!)`

Well, for some fixer this is obvious, for other, less obvious.

It would be great to have a `Fixer::getRiskyDescription` or `Fixer::getRiskyExplaination` on each risky fixer and integrate it on the readme.

Then, we could have a quick preview of why the fixer is risky.

Example:
- **php_unit_dedic

[2016-06-13 19:33] keradus commented on #1991
In general - it may be nice.
But I'm not sure it's good to provide extra details like this in whole readme. It would make the list of fixers longer and longer. As The description won't be small.

Like here, it should be like:
`Those methods do not exist on PHPUnit 4.x. Also, if you override the assertion with your own implementation then your changes wound't be used. Finally, we just replace metho

[2016-06-13 19:44] Soullivaneuh commented on #1991
Maybe a short and a long description? The short one line description would be on the readme and the long... display with a command that can show details of a fixer?

Or simply accept only short description.

[2016-06-13 19:47] sharifzadesina commented on #1987
@GrahamCampbell
This project's header comment is same as PHP PSR standard's file level comment so it is better to us following standards.

[2016-06-13 19:48] sharifzadesina commented on #1987
@Soullivaneuh Yes, don't worry about this.

[2016-06-13 19:51] sharifzadesina commented on #1987
@Soullivaneuh We need this change, while accepted or not

[2016-06-13 20:22] Soullivaneuh commented on #1987
Accepted PSR or not **is** important, whatever your needs.

If this PSR will be accepted, this should be added to the related preset IMHO.

If not, this may be in contrib, if accepted on this project.

[2016-06-13 20:29] sharifzadesina commented on #1987
@Soullivaneuh It is better implement this in phpdoc.

[2016-06-13 20:31] Soullivaneuh commented on #1987
That's you say! :wink: Without why BTW.

And apparently the proposed PSR, this is why I would like to know if this is gonna be accepted or not.

IMHO, the fixer might be accepted, but the preset would change regarding the PSR acceptance.

[2016-06-13 20:37] Soullivaneuh commented on #1987
Related PSR PR: https://github.com/php-fig/fig-standards/pull/169

[2016-06-13 21:09] SpacePossum commented on #1987
PSR5 does not state a file level comment _must_ be PHPDoc, only that if it is a PHPDoc how it should look.

[2016-06-13 21:15] SpacePossum commented on #1991
Maybe we could generate a whole site for the fixer.
Based on:
- each fixer has a test file with a method "testExampleForDocs", this would ensure we have relevant and complete case for each fixer which we could use on the site
- parse the header comment for short and long description of the fixer to get documentation for the site
- and some TOC and dedicated pages for the configuration
- remove the

[2016-06-13 21:27] GrahamCampbell commented on #1987
Yeh, well, I don't agree, and PSR is not the law. Saying a comment must be phpdoc is a contadiction.

[2016-06-13 21:36] SpacePossum commented on #1987
I'll try again :)
PSR5 doesn't state there _must_ be a PHPDoc as a header of the file, so a comment is allowed.

[2016-06-13 21:49] Soullivaneuh commented on #1987
Agree with @GrahamCampbell this is a comment, a signature. How this could be a phpdoc?

So you need the fixer to be able to handle both. Maybe you are right. I am personally not against a fixer like this.

The **only** thing that I would like to add a warning, is the group placement. The PSR-5 is not accepted yet, so IMHO the fixer (or option of the existing) should be put on contrib group.

After

[2016-06-13 21:56] sharifzadesina commented on #1987
@GrahamCampbell PSR IS LAW for many developer so we MUST support that at first then invent new standards.

[2016-06-13 21:57] sharifzadesina commented on #1987
@SpacePossum PSR5 state this, see my links in first issues's post.

[2016-06-13 22:18] Soullivaneuh commented on #1987
Is a convention. I like this convention and you are right many developers follow it. But it's a convention.

We **can** support the rule. But IMO not create a PSR-5 section, **for now**.

Except if PHP-CS-Fixer maintainers don't think like this.

And PSR-5 is AFAIK not accepted yet: https://github.com/php-fig/fig-standards/pull/169

So, to resume: Nobody says (stop me if I'm wrong) we should not a

[2016-06-13 22:23] sharifzadesina commented on #1987
I agree, This is most fastest way for now.

[2016-06-13 22:24] Soullivaneuh commented on #1991
@SpacePossum If I understood well, your idea is too completely remove description from the readme and put it all on fixer class comment?

For long description I agree. But for short no. It does not hurt to have two line of description (only one if not risky) on the readme to have a quick view of the possibilities.

If the user want more detail, then he cans go to the fixer class.

What do you thin

[2016-06-13 22:25] gharlan commented on #1987
-> #1297

[2016-06-13 22:32] Soullivaneuh commented on #1983
@keradus So should this be done directly on master for the option?

[2016-06-14 05:15] SpacePossum commented on #1987
...

1949 replaces 1297, both provide just that.

;)

[2016-06-14 05:57] Soullivaneuh commented on #1987
@SpacePossum I know that. At first, I just added a remark about not accepted PSR-5, nothing else... :wink:

[2016-06-14 07:18] SpacePossum commented on #1983
There is no need, a new feature should be done on 1.12 and will be merged upstream.
The exception are BC breaking features or features that are very hard to do on 1.12 (for example if you rely on transformers or other features not available on 1.12)

[2016-06-14 07:27] SpacePossum commented on #1991
To be honest I was typing more of a meta idea than a concrete suggestion.
I don't like the `getDescription` method because these are not used during run time of fixing (just for readme and help generation).  Sure these won't "harm" much and take up only a bit of memory.

Adding a new method for just the risky fixers is overcomplete IMO. It would require all fixers to implement another method (even

[2016-06-14 07:51] Soullivaneuh commented on #1991
Yes with the `php-cs-fixer help fix`, but AFAIK we need this to display it.

Maybe we can take profit to add a new command to describe a fixer like `php-cs-fixer describe ternary_operator_spaces`. What do you think?

:+1: :stuck_out_tongue:

Not necessary. We can create a `RiskyFixerInterface` that extends `FixerInterface` for that. I could work on a POC.

Yeah master is not stable yet and, stop m

[2016-06-14 08:15] GrahamCampbell commented on #1987
@sharifzadesina This is not even PSR though...

[2016-06-14 10:29] greg0ire commented on #1975
Probably that the fixer won't work it all cases. However I think a fixer doing a "best effort" would spare a lot of time to people not getting why the tests fail on the legacy branch of the project they are contributing to. And that's the lucky case when there are tests of course.

[2016-06-14 10:34] Soullivaneuh commented on #1975
`class_keyword_remove` works in all cases for now: #1985

It will for `class_keyword`. Of course namespace conflict could happen, in this case the fixer can:

* Do nothing
* Use `::class` but with not high level namespace. E.g.: `Foo\Bar::class` instead of `Bar::class`

[2016-06-14 11:13] SpacePossum commented on #1987
This is going in circles. I hear no new arguments and I'm not convinced to change the PR.
So lets put up to vote. If it doesn't make the vote I throw the PR away and someone else can do the strict declare stuff and we call it a day.

[2016-06-14 12:02] keradus commented on #1987
big :+1: for allowing header to be both comment or PHPDoc, depending on configuration.
If it needs some adjustment for PHPDoc classes or other fixers to properly deal with it - it's OK to do it.

@SpacePossum , sorry, I was confused about changing header comment in PR introducing strict fixer

[2016-06-14 14:06] keradus commented on #1991
Please don't start of implementing idea that is not yet accepted. Ref #1985

[2016-06-14 14:48] Soullivaneuh commented on #1991
A Proof of Concept does not hurt anyone...

[2016-06-15 07:06] SpacePossum commented on #1943
To clarify, the `why` is because we follow PSR 2 to states the braces should be placed like that. So I miss judged this issue and it is not bug after all.

[2016-06-15 09:02] keradus commented on #1943
the second part:
[code]

should be converted to
[code]

if I get @jaszczurek right that's the bug.
@jaszczurek , could you confirm please? or extend your report?
Also, please provide version you are using

[2016-06-15 09:10] keradus commented on #1991
I got really bad feeling for quality of discussion in #1985 , I think it could be avoided if everything would be discussed before.

[2016-06-15 09:22] Soullivaneuh commented on #1122
In which preset this one should be added? Symfony? cc @javiereguiluz

[2016-06-15 09:23] keradus commented on #1122
Symfony is not fully follow that rule.

like
[code]

[2016-06-15 09:30] Soullivaneuh commented on #1122
@keradus If I well understand, with this code:

[code]

With Symfony CS, it should be:

[code]

With the fixer asked by @GrahamCampbell, is should be:

[code]

Right?

Well, in this case, why not two fixers?

* `empty_line_after_control_structure` -> On Symfony
* `empty_line_before_control_structure` -> On Contrib

What do you think?

[2016-06-15 09:37] SpacePossum commented on #1122
one with config, but only after the current issue/PR count is down ^_^

[2016-06-15 10:11] SpacePossum commented on #1122
Having two fixers on 1.x and one on master will be a merge hell.

Having one fixer is more logical to me, it prevents code duplication, having less code to write, debug, maintain and document,
The diff with those three fixers is those have diff. logic to find and test candidate tokens to fix;
namespace, open tag and return.
The new fixers would not, both fixers would have the same logic to find ca

[2016-06-15 10:44] Soullivaneuh commented on #1122
Agree. :+1:

Keeping two fixers on master could be great too IMHO.

namespace, open tag and return.

Why not an abstract fixer class for common code? This is already done.

[2016-06-15 11:00] SpacePossum commented on #1122
you would still analyze to find the same candidates twice for each file, slowing down the app

[2016-06-15 11:01] Soullivaneuh commented on #1122
Oh, I see your concern.

[2016-06-15 12:18] keradus commented on #1122
Ref https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1122#issuecomment-226136058

With Symfony, both ways are accepted:
[code]

[code]

[2016-06-15 13:54] Soullivaneuh commented on #1122
Oh so both way should be on contrib, not Symfony. right?

[2016-06-15 17:13] SpacePossum commented on #1119
hope I'm not de-railing this, but I have some questions about PHP7 support.

[code]

when modifying related fixers to support this I wandered; do we want some sorting order on these?
Like `classes`, `functions` `const`

Should the groups be broken up into single `use` statements?
If not, should we sort the parts inside the braces alphabetically?

Should the visibility fixer support the new `const`

[2016-06-16 05:00] jaszczurek commented on #1943
Fuck, my bad :(
It was on 1.11.2, on 1.11.4 works perfectly (I should use "selfupdate" more often).

[2016-06-16 05:00] #1943 closed

[2016-06-16 07:05] SpacePossum commented on #1943
thanks for the feedback @jaszczurek :+1:

[2016-06-16 08:56] GrahamCampbell commented on #1122
Symfony might want to enforce one of them though. We should ask.

[2016-06-16 14:18] cordoval opened #1996 "inline namespaces to move namespaces up top"
is there a fixer that moves all inline long namespaces on a codebase to the top and shortens the names automatically?

[2016-06-16 14:29] SpacePossum commented on #1996
You mean something like;
expected;
[code]
input:
[code]
No, there isn't one here.

[2016-06-16 14:31] cordoval commented on #1996
will there be ever one?

[2016-06-16 15:33] keradus commented on #1996
You are welcome to contribute @cordoval !

[2016-06-16 15:35] cordoval commented on #1996
would be terrific, i have no time now but will certainly look if you help me

[2016-06-17 09:27] Gemmu opened #1997 "Space after array language construct"
As PSR2 states:

According to php.net manual `array` is a language construct, not a method or function call. Therefor it could be that the format `$thing = array ();` is more appropriate than `$thing = array();`

In my opinion the array construct should be removed from the FunctionCallSpaceFixer.php.

[2016-06-17 10:08] Phyks commented on #1990
Another interesting thing with short diffs I have just came across is when you have many files (say 200 for example) that you want to modify, but want to check the diff. You only want the diff to show the actual modifications, as displaying 200 files in your terminal is not really useful.

My current way of handling it is to do a fix run and then run git diff, so post-check rather than pre-check.

[2016-06-17 10:51] keradus commented on #1990
I agree that this feature would be nice ;) Just need sb who will implement this. Maybe you want to help ?

[2016-06-17 11:12] Phyks commented on #1990
I guess we should adapt https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/da56b8c83664dfa7f805a9dab2d29b44f4acf869/Symfony/CS/Fixer.php#L316. A proof of concept is available [here](https://gist.github.com/Phyks/407ca2054a3f0452119c8a0ddd0645c6#file-usage-example).

Let me know what do you think about it. I do not know the codebase of PHP-CS-Fixer at all, I am not sure how to integrate it and / or

[2016-06-17 11:28] keradus commented on #1990
1. Create new differ class here: https://github.com/FriendsOfPHP/PHP-CS-Fixer/tree/master/src/Differ
that will call phpspec differ (new dependency)
2. Add new CLI option here: https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/master/src/Console/Command/FixCommand.php#L98 , so one could choose the differ on tool execution
3. Utests would be needed, you could just adjust existing one

just remember

[2016-06-17 11:50] keradus commented on #1997
could you ref that?
ref : http://php.net/manual/en/function.array.php

even from url - "function array"

[2016-06-17 11:51] keradus commented on #1996
This could be nice for a start:
https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/1.12/COOKBOOK-FIXERS.md

[2016-06-17 11:52] SpacePossum commented on #1997
[code]

its on the page, however I still pref. `array()`

[2016-06-17 11:52] keradus commented on #1997
so, sth like `not a regular function` but still `odd type of function` ? :)

[2016-06-17 12:15] gharlan commented on #1997
I agree here. It is not a function, so it should be removed.

(but I wouldn't write `array ()`)

[2016-06-17 12:24] Gemmu commented on #1997
Around the php.net's examples it has been used as `array()` and `array ()`. The PSR doesn't mention any 'language constructs' or how they should be presented.

Should it be moved from the PSR2 to those contrib level fixers? And should the fixer fix it to with or without the space? I'm not really sure about that.

On a personal note, I have been using the extra space just to differentiate it from f

[2016-06-17 12:32] SpacePossum commented on #1997
don't fix other language construct calls like `unset ($a)` as well?

[2016-06-17 12:43] gharlan commented on #1997
I would say yes. We could add another fixer for them.
(But it is not a strong opinion here, it is ok for me when we handle them like functions, because I want to use same style for them anyway, and it is also symfony coding style.)

[2016-06-17 12:49] Gemmu commented on #1997
Should all the language constructs (with[out?] spaces) be moved under symfony then? As the psr2 doesn't really say anything about these language constructs. Only about functions and control structure keywords.

[2016-06-17 12:54] gharlan commented on #1997
I see three variants:

1. We do not change anything
2. We make the fixer configurable (fix function-like language constructs, or not), the option would be enabled only in symfony level
3. We remove language constructs from the fixer and and add a new fixer for them in symfony level. There could be another fixer for using spaces after language constructs in contrib level.

[2016-06-17 13:11] keradus commented on #1997
I think that actually that was the idea of PSR2 to treat them the same way.
But I agree it's not well documented.

If somebody really need to have that space we could split them, but is there really a need for that ?

[2016-06-17 13:37] keradus commented on #1829
fixed by #1840

[2016-06-17 13:37] #1829 closed

[2016-06-17 16:00] citosid opened #2000 "Fix indentation in OOP Nesting"
Is there a way to fix this:

[code]

And turn it into this:

[code]

The difference is that, according to [This Link](http://pear.php.net/manual/en/rfc.cs-enhancements.splitfunccall.php) when nesting, we should have only 4 spaces in the line under, not in the same column the first `->` was added.

[2016-06-17 16:11] keradus opened #2001 "Invalid order of fixers"
I just detected edge case, when a fixer needs to be run twice to fix everything. We probably need to adjust some priority

[code]

Current order:
[code]

[2016-06-17 16:22] keradus commented on #2000
Wow, PEAR standards... someone is still using them :D

One way or another, I like it the second way, a fixer would be nice for it.
Could you work on it please?

[2016-06-17 16:45] citosid commented on #2000
@keradus we are not using them fully, we are using PSR-2 and PSR-4, but this standard from PEAR is nice, the code is more readable, and I could not find anything in PSR.

I could, do you have any suggestion on how to do it?

[2016-06-17 16:56] keradus commented on #2000
if the first token of line is `->` then check indentation of prev line, add one level of deep to it and fix current line indentation, if needed

Also, please check README and CONTRIBUTING files

[2016-06-17 23:23] Phyks commented on #1990
@keradus Could you have a look at https://github.com/Phyks/PHP-CS-Fixer/commit/0dab2286e8f55cbf5c0712811b487c381619dafb when you have some time, to tell me what you think about this first draft? It seems to be working, as per basic tests.

Still, I have some weird issue in the diff. Diff is always starting by:
[code]

Which was not the case in previous versions. Still, it is happening also on the

[2016-06-17 23:39] keradus commented on #1990
First, general question - why not `phpspec/php-diff` ?

[2016-06-17 23:44] Phyks commented on #1990
Sorry, I missed you statement about `phpspec/php-diff` :/ I thought I should start from `SebastianBergmannDiffer`. It's late here and I should have some rest :)

You mean I should completely replace `SebastianBergmannDiffer` by an implementation using `phpspec/php-diff` and add a shortener on top of it?

Is `phpspec/php-diff` expected to be better?

[2016-06-18 00:36] keradus commented on #1990
1. Try and compare different diff libraries, eg:
https://github.com/phpspec/php-diff
https://github.com/wmde/Diff
https://github.com/gorhill/PHP-FineDiff

2. Choose best one

3. If you choose Foo library, create FooDiffer adapter class for it (leave SebastianBergmannDiffer intact)

4. Hopefully the "shortening" part should be done on diff library, not by us

--------------------

Didn't check it m

[2016-06-18 01:15] Phyks commented on #1990
Ok. But why would you want to replace SebastianBergmann Differ?

Anyway, after a quick look at these libraries, none of them seem to handle minimalistic diff with line numbers (or I missed it, which is possible). So I think we should anyways implement a shortener on top of it. Should not be more difficult on top of `phpspec/php-diff` unified output than on top of `SebastianBergmann` lib.

I will h

[2016-06-19 13:09] keradus commented on #1990
I wrote exactly the opposite...
Please do not create our own differ...

[2016-06-19 13:12] GrahamCampbell commented on #1990
I think having the option to have shorter diffs would be pretty useful. In large files, the first thousand lines can give little context to the changes, and only cause noise, making it hard to read.

[2016-06-20 07:02] Gemmu commented on #1997
Well if the spirit of the PSR2 is that the language constructs must be treated like functions then it's all right by me to use the FunctionSpaceFixer. The guide itself leaves too much room for interpretation, and in my opinion should be fixed, but that's another project.

[2016-06-20 07:21] SpacePossum commented on #1997
You might want to propose it for PSR12
https://github.com/php-fig/fig-standards/blob/master/proposed/extended-coding-style-guide.md

I think calls to language constructs should be the same as function and method calls, i.e. without the space, so no changes needed.

[2016-06-20 07:27] Phyks commented on #1990
Hmm, I think we had a misunderstanding, sorry if I was unclear.

If I understood correctly, you told me to copy SebastianBergmannDiffer to some new file (say ShortDiffer) and use it as a start layout to edit the `diff` function to shorten the diff (or even better, directly rely on the library to handle it, but none seems to be able to do it).

You also told me that in this particular differ, I sho

[2016-06-20 10:12] keradus commented on #1997
So, ticket ready to be closed ?

[2016-06-20 10:19] keradus commented on #1990
In general: have new differ implementing `DifferInterface`, how to achieve this (eg writing utests) could be  done looking how `SebastianBergmannDiffer` was made, where are the tests and so on.

I can't believe that in whole PHP world there is no differ that show only changed parts and not whole file :(

[2016-06-20 12:20] Gemmu commented on #1997
Yep,

[2016-06-20 12:20] #1997 closed

[2016-06-20 21:27] slikts opened #2008 "fapbot/php-cs-fixer is abandoned, yet it's in the readme"
In README.md:

Meanwhile: https://packagist.org/packages/fabpot/php-cs-fixer

[2016-06-20 21:36] SpacePossum commented on #2008
Hi!
Thanks for reporting!
Currently the PHP-CS-Fixer is being moved from `fabpot` to `FriendsOfPHP` on packagist (its been done on github for a while). This will be finalized when 2.0 is released as stable. The warning you get is just a bit premature.
For ref.: https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/2006 (and others)

[2016-06-20 21:41] slikts commented on #2008
This came up for me because `./composer.phar global require fabpot/php-cs-fixer` does not work on Windows; running it results in "Could not find package fapbot/phab-cs-fixer at any version for your minimum-stability (stable)". Meanwhile, friendsofphp/php-cs-fixer worked.

[2016-06-20 22:25] gharlan commented on #2008
who is `fapbot` and what is a `phab-cs-fixer`? ;)

[2016-06-20 22:38] slikts commented on #2008
Good questions.

[2016-06-20 22:38] #2008 closed

[2016-06-23 07:42] SpacePossum commented on #1797
I'm for `no_whitespace_in_blank_lines -> no_whitespace_in_blank_line` and -1 on renaming `no_trailing_whitespace_in_comment`.
Best to be tagged for 2.0 if we want to rename anything here.

[2016-06-23 09:15] LeighBicknell opened #2011 "Output fixed php to stdout"
Google foo and a bit of trial and error has gotten me so far:

`cat test.php | php-cs-fixer fix -`
Allows stdin! But this doesn't output the fixed php.

`cat test.php | php-cs-fixer fix --diff -`
Outputs to stdout, but only a diff.

It would be useful to be able to pipe in php, and have the actual fixed up php returned to stdout.

My particular use case is vim, it's awkward to be forced to save a

[2016-06-23 09:42] keradus commented on #1797
@SpacePossum could you send a PR?

[2016-06-25 16:42] GrahamCampbell commented on #1119
The `new_with_braces` fixer is also broken with anonymous classes.

[2016-06-26 15:13] FraGoTe commented on #1996
+1

[2016-06-26 15:15] GrahamCampbell commented on #1996
:-1: We have no way to do this without potentially breaking the code due to collisions with existing class names in the same namespace.

[2016-06-26 15:16] cordoval commented on #1996
it should be a controlled run rather than a totally automated thing, i can go and fix some left overs for sure, it is just so tedious sometimes

[2016-06-27 03:05] kappasims opened #2014 "package name outdated in composer global install instructions?"
I installed via composer on windows with the following command:

composer global require fabpot/php-cs-fixer

going off of the install instructions in the readme, but during the install I was presented with this message:

"Package fabpot/php-cs-fixer is abandoned, you should avoid using it. Use friendsofphp/php-cs-fixer instead."

Should the package name be updated in the readme? I can submit a pu

[2016-06-27 16:21] keradus commented on #1119
could you send a fix for it @GrahamCampbell ?

[2016-06-27 18:44] keradus opened #2015 "PHP7 new custom tokens"
ref https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/1989#issuecomment-227204801

[code]

I would like to introduce 2 new custom tokens for given `function` and `const`.
Any thoughts ?

[2016-06-27 19:18] gharlan commented on #2015
good idea! #1107 ;)

[2016-06-27 19:44] keradus opened #2016 "PHP7 unicode escape update"
[code]

[2016-06-27 19:50] keradus commented on #2015
hahahahaha :dancer:

[2016-06-27 19:50] #2015 closed

[2016-06-27 23:21] jaydiablo opened #2018 "php-cs-fixer adding a newline after brace of string character access"
Given this PHP code:

[code]

And run with this config:

[code]

Using php-cs-fixer 1.11.3 results in this output:

[code]

Here's the output with --verbose flag showing which fixers were applied.

I believe the output should be this:

[code]

[2016-06-28 07:27] keradus commented on #2018
ref #1909

[2016-06-28 07:32] SpacePossum commented on #2015
didn't know... .0.o ... we going to need make some (big) changes on the master version of #1989 .....

[2016-06-28 07:39] SpacePossum opened #2021 "Binary cast fixer"
expected

[code]

input

[code]

[2016-06-28 07:41] keradus commented on #2015
Yep, I will handle it during merging to 2.x.
I'm just waiting for that WIP flag to be removed ;)

[2016-06-28 07:50] keradus commented on #2021
PHP7 only, right ?

[2016-06-28 07:51] SpacePossum commented on #2021
this is valid on the 5.x line as well (I think 4 even)

[2016-06-28 08:11] GrahamCampbell commented on #2021
PHP 5.2.1 and upwards.

* https://3v4l.org/pJAEF
* https://3v4l.org/dEutW

[2016-06-28 11:26] stof opened #2022 "PHP-CS-Fixer leaves a temporary file at the root of the project"
When using the 1.11.4 version, a ``cs_fixer_tmp_...`` file stays at the root of the project at the end of the run

[2016-06-28 11:27] GrahamCampbell commented on #2022
It does try to remove it. It just silences any errors when it does I think?

[2016-06-28 12:35] stof commented on #2022
Well, I ran the tool several times, and it left such a file for each run. So the logic trying to remove it seems broken.

In case this matters, I was using PHP 5.6 when running it

[2016-06-28 12:59] GrahamCampbell commented on #2022
Is it possible your file viewer was locking the file so PHP couldn't delete it? Try removing the `@` from the `unlink`?

[2016-06-29 06:58] #2018 closed

[2016-06-29 10:31] SpacePossum commented on #1119
addressed in https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/1989

[2016-06-29 21:07] gharlan opened #2027 "PhpdocAnnotationWithoutDotFixer removes '...' step by step"
[code]

`PhpdocAnnotationWithoutDotFixer` removes the '...' one by one. So you have to run the fixer 3 times to remove all dots.

[2016-06-30 07:31] ro0NL opened #2028 "Fixer for missing root namespaces in @expectedException"
From https://github.com/symfony/symfony/issues/19237

I would be nice if we can force consistent behaviour, i.e. convert everything to use statements, _or_ everything to FQCN's without use statements.

[2016-06-30 07:41] SpacePossum commented on #2028
I would like this a lot :)
This fixer should be marked as risky I think, for example:
[code]

when fixed to:

[code]

if `a()` would throw;
[code]

then the behavior is changed.

[2016-06-30 07:55] ro0NL commented on #2028
Well... if `a()` throws `\My\Poor\Named\Exception\UnexpectedValueException` it should be

`@expectedException \My\Poor\Named\Exception\UnexpectedValueException`

**or**

[code]

[2016-06-30 08:03] GrahamCampbell commented on #2028
PHPUnit does not read impors.

[code]

That will expect `UnexpectedValueException` not `My\Poor\Named\Exception\UnexpectedValueException`.

[2016-06-30 08:45] SpacePossum commented on #2028
indeed
[code]

this works.
Resolving the FQCN of the `@expectedException` class might be tricky though.

[2016-06-30 08:56] ro0NL commented on #2028
Are you sure?! This affects symfony tests wich arent breaking currently :confused: or these are false positives right now.. which would be quit.. eh.. shocking.

One more thing; this also affects `@throws` but i havent checked for incorrect occurrences yet.

[2016-06-30 08:59] SpacePossum commented on #2028
if you change
[code]
to
[code]
you'll see that PHPUnit handles the exception without FQCN checking well

[2016-06-30 09:11] keradus commented on #2027
Actually, the `...` should not be removed.
People often use `...` (3 chars) instead of `…` (1 char). The later one is handled correctly, the first one is not.

Do you want to send a bugfix for it ?

[2016-06-30 09:14] keradus commented on #2028
also, when possible (depends on PHPUnit version) I would suggest to use `->expectException`

[2016-06-30 09:15] GrahamCampbell commented on #2027
@keradus We should probably just update this fixer to trim any and all punctuation, zero or more instances of the end.

[2016-06-30 09:16] GrahamCampbell commented on #2028
I don't think Sebastian has any plans to add this sort of thing to PHPUnit in the future.

[2016-06-30 09:18] ro0NL commented on #2028
To clearify, does this mean current tests are invalid?

I.e. is [this](https://github.com/symfony/symfony/blob/f29d46f29b91ea5c30699cf6bdb8e65545d1dd26/src/Symfony/Component/Asset/Tests/PackagesTest.php#L60) test a false positive?

[2016-06-30 09:20] GrahamCampbell commented on #2028
That test works because Symfony\Component\Asset\Exception\LogicException extends LogicException.

[2016-06-30 09:20] ro0NL commented on #2028
Exactly.. but this is not intended right afaik. I.e. a false positive... @fabpot  what about that?

[2016-06-30 09:22] GrahamCampbell commented on #2028
https://github.com/symfony/symfony/pull/19243

[2016-06-30 11:23] keradus commented on #2027
Why not trim trailing dot if it is not directly preceded by another dot ?

[2016-06-30 11:25] gharlan commented on #2027
I could send a bugfix next week

[2016-06-30 11:28] GrahamCampbell commented on #2027
What about other variants of punctuation?

[2016-06-30 12:21] ro0NL commented on #2028
From https://github.com/symfony/symfony/pull/19243

My consensus so far..

[2016-06-30 16:07] keradus commented on #2028
partial is working? I dont think so

[2016-06-30 18:19] ro0NL commented on #2028
By "partial" i mean relative, i.e.;

[code]

or

[code]

vs

[code]

This is valid PHP, ie. also how PHP7 return-types _work_. Based on the symfony testsuite i assumed `@expectedException` follows the same logic. For consistency i would say always declare the root namespace (`\`) for `@expectedException` (there can be no confusion also). But i dont really mind, i just think the tests should be fix

[2016-06-30 20:19] GrahamCampbell commented on #2028
Well, really, you mean "aliased". That's what's actually going on.

[2016-07-01 05:01] phansys opened #2029 "no_extra_consecutive_blank_lines - rename to no_extra_blank_lines"
A little example running this fixer in `symfony/symfony:2.7`:

[code]

[2016-07-01 08:10] ro0NL commented on #2028
Yes. Which reminds me.. does it need to resolve, eh, aliases, i.e.
[code]

This should probably never occur for `@expectedException` as your test will fail, but if the fixer is really generic it could be useful other FQCN annotations.

[2016-07-01 09:06] keradus commented on #2028
Big :-1: for using FQCN for other annotations.
for given example of `@return` - it's not needed. Strict typehinting in PHP7 (outside the comment) don't need to use FQCN as well, and mixing the notation in typehint and doctyping will not looks nice.

PHPUnit 4, as old enough, don't handle not-FQCN names in that annotation, but it also drops it in favor of ->expectException. So for that, if one want

[2016-07-01 09:19] ro0NL commented on #2028
url?

Anyway, `$this->expectException(\InvalidArgumentException::class);` should definitely be preferred. Forget the generic stuff, as `expectedException` cannot be compared to other annotations this way.

So indeed.. this is not a real codestyle fixer. However it could fixup your tests producing false unintended false positives. Do you see any value in that, or is out of scope for PHP-CS-Fixer?

[2016-07-01 09:26] keradus commented on #2028
https://phpunit.de/manual/current/en/writing-tests-for-phpunit.html#writing-tests-for-phpunit.exceptions

[2016-07-01 09:27] keradus commented on #2028
As told before, checking if annotation for `@expectedException` is FQCN would be fine, but I'm against that part:

[2016-07-01 09:28] keradus commented on #2028
just let it be configurable and everybody will set up his own annotations, don't assume it for him, like changing `@return` annotation by default

[2016-07-01 09:42] ro0NL commented on #2028
configurable == generic imo. Ie. im not talking about 1 fixer that does everything, but a _reusable_ fixer. But like i said, forget the generic stuff, its not my point.

For now, my concern is expectedExcception producing (unintended) false positives. However, technically we cant assume the user's intention;

[code]
Is intended to work as "test for `\Something`" or "test for `\Foo\Something`"? Con

[2016-07-01 09:47] keradus commented on #2028
resolve - like adding `\` on the beginning - good
resolve - like guessing that you are using imported class and you should not rely on import - tricky and a lot of false positives
Conclusion: configure two things: annotations that are modified and way of modification (only add missing `\` or resolve import as well)

remove - I don't get it, remove what ?

Yes, we have risky fixers. Even with speci

[2016-07-01 10:04] ro0NL commented on #2028
remove - never mind (UnusedUseFixer :)).

I thought this was a little too risky ^^

How would you name the fixer?

[2016-07-01 11:06] SpacePossum commented on #2029
It does generate anything, the fixer only removes stuff.
For trailing space there is `trailing_spaces` `whitespacy_lines` etc. and we've testa to make sure the `useless_else` fixer runs before those.
The indenting should be fixed by some other fixer we may or may not have.
Anyway, each fixer should have one task, otherwise we end up with N-fixers being able to fix indentation issues.
IMHO this iss

[2016-07-01 12:27] bweston92 opened #2030 "Invalid anonymous class formating."
Anonymous class seems to loose indentation.

[code]

Config

[code]

Version of `php-cs-fixer`
[code]

[2016-07-01 12:52] GrahamCampbell commented on #2030
This is fixed in the latest dev versions.

[2016-07-01 12:53] bweston92 commented on #2030
@GrahamCampbell ok, thanks.

[2016-07-01 12:53] #2030 closed

[2016-07-01 13:29] keradus commented on #2030
@GrahamCampbell you mean 2@dev or 1@dev ?
After great work of handling PHP7 on 1.11 by @SpacePossum I was still able to find out some new cases thanks to integration tests, see https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/2017

[2016-07-01 18:05] phansys commented on #2029
I get your point @SpacePossum. Then, just thinking, we really should remove extra line breaks between properties / constants declarations at #1889?

[2016-07-02 17:35] SpacePossum commented on #2029
Not sure about your point of 1889, it tries to stick to the current CS of a class when it splits up the declarations right? I think that is the best we can do. If there is a rule for (not) having empty lines between the properties/constants we could make a fixer for that and run it after the one in 1889 :)

[2016-07-02 22:59] phansys commented on #2029
Right @SpacePossum, I mean that in the same fixer we are currently following these steps:
1. Exploding combined property / const declarations in different ones, using as separator between them the original separators we found at the combined declaration.
2. Checking if any of these separators are line breaks and replacing them with just one line break

Note that point 2 isn't part of the main goal

[2016-07-03 09:49] SpacePossum commented on #2029
I see your point :)
The catch is, I think, that when there is one line having multiple statements it is impossible to know if it was intended to be separated with one empty line between each line break.
For example:
[code]

I would expect this to be fixed to:
[code]

because now there is one statement for each line and the indentation is preserved.
This also means if the indentation is not PSR (i.

[2016-07-03 14:01] phansys commented on #2029
Thank you for the detailed feedback @SpacePossum. I agree with all your thoughts, except the last one: `no_extra_consecutive_blank_lines` is for **consecutive** blank lines; so, the quantity of blank lines must be at least 2 in that case. IMO, here we are talking about "no extra consecutive line breaks" (or something similar).

[2016-07-03 14:42] SpacePossum commented on #2029
Renaming the last fixer might be a good idea. I've added a bunch of configuration options that are indeed not only dealing with consecutive empty lines but with single lines as well. Good point :)

[2016-07-03 17:08] phansys opened #2035 ""no whitespaces between offset accessors""
Input:
[code]
Expected:
[code]

[2016-07-03 19:40] keradus commented on #2035
multiline should be addressed as well
`{` for indexes too

[2016-07-03 20:30] phansys commented on #2035
@keradus, I've added more use cases, but really I don't know what to do in some cases, by instance, if there are comments between these accessors.

[2016-07-03 20:44] keradus commented on #2035
For sure not remove them ;) I will ignore whitespaces between `]` and `[` if there is comment between.

[2016-07-03 21:36] keradus commented on #2030
Fix in #2037

[2016-07-04 19:01] keradus commented on #2029
could anyone send a PR for that?

[2016-07-04 20:22] keradus commented on #2030
fix is merged.

[2016-07-04 21:33] phansys commented on #2029
I can work on this the next weekend.

[2016-07-04 21:51] #1968 closed

[2016-07-04 22:19] mnabialek opened #2042 "Files that were not fixed due to internal error"
When I use in my test class the following code:

[code]

I'm getting:

As soon as I comment it out - this error does not occur anymore

[2016-07-04 22:23] mnabialek opened #2043 "Inconsistency between systems"
This is quite strange issue. I have project that I'm running on Docker. I've installed on Windows latest version, same in Docker machine. However on Windows I'm not getting all the errors fixed whereas on Linux I do.On Linux I've also got this "Files that were not fixed due to internal error:" error (which shows the file with problem) whereas on Windows this error does not happen. Is it normal or

[2016-07-04 22:28] keradus commented on #2042
Hi ;)

Please provide:
[code]

system information and CLI command to run the tool that you are using.

[2016-07-04 22:29] keradus commented on #2042
Also, more context of source code snippet could be useful.

[2016-07-04 22:29] keradus commented on #2043
No, it shouldn't.
https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/2042#issuecomment-230360160

[2016-07-04 22:31] keradus commented on #2042
(PS if you are online just right now you could catch me here: gitter.im/keradus , so we could handle issue in few minutes in polish)

[2016-07-04 23:25] keradus opened #2045 "RFC: merge supports and isCandidate"
Currently, `supports` method is implemented only in `AbstractPsrAutoloadingFixer` and `NoUnusedImportsFixer`.
What do you think about changing isCandidate parameters to `Tokens, SplFileInfo` and remove `supports` method ?

[2016-07-05 04:57] mnabialek commented on #2042
Thank you for reply. Below there are results of all those commands

[2016-07-05 05:08] SpacePossum commented on #2045
Makes sense to me :+1:

[2016-07-05 07:24] keradus commented on #2042
Please, could you check newest `1.11@dev` / `dev-1.11` version
I have strong feeling this was fixed just few days ago

[2016-07-05 08:17] keradus commented on #2022
It would be great if you could play with it @stof, I can't reproduce it

[2016-07-05 12:18] SpacePossum opened #2046 "[bug] single_class_element_per_statement - handle arrays"
The fixer doesn't detect the statements correctly when a statement is an array, so it will break the array into pieces.

Input:
[code]

Output:
[code]

master only, tested on:
possum@LandOfOz:~/work/PHP-CS-Fixer$ php -v
PHP 7.0.4-7ubuntu2.1 (cli) ( NTS )

[2016-07-05 12:19] SpacePossum commented on #2046
ping @phansys

(if you have no time in the near future please let me know, I might find so time)

[2016-07-05 12:36] phansys commented on #2046
I'll have some time this weekend @SpacePossum, so please, if you can work on a fix before, it would be great.
Thank you in advance.

[2016-07-05 13:42] mnabialek commented on #2042
On 1.12-dev it's fine.

[2016-07-05 13:51] GrahamCampbell commented on #2042
This can be closed then @mnabialek please. :)

[2016-07-05 13:59] mnabialek commented on #2043
Ok, so the question is what is going on? I believe other developer using Windows got some files fixed and I haven't on Windows (but have in Linux) - I'm talking about exact same files. I've also removed cache file manually just to make sure it's not a cache problem but it seems it isn't. Is there any way there's some strange bug?

I've updated to latest v.1.12 dev branch and on windows I've got so

[2016-07-05 15:41] keradus commented on #2042
yeah, 1.11 is merged to 1.12 ...

[2016-07-05 16:56] keradus commented on #2043
As you could imagine without information about the files we cannot guess anything.

Please, took one `F` and one `I` file from your Windows run.
make sure there are not modified on Unix.

on both env, run: https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/2042#issuecomment-230360160

Also, `-vvv` could be a bit helpful during running the `fix` command.

---------------------------

BTW, be extra

[2016-07-05 17:25] keradus commented on #2046
ref #2044

[2016-07-05 17:44] mnabialek commented on #2043
@keradus I probably now what's happening, in file that is not fixed on Windows, I use scalar type hinting introduced in PHP 7. On Windows I have PHP 5.6.0 installed, whereas on Linux I have PHP 7. So the question is - does php-cs-fixer needs PHP version installed in same version as files that are checked? If I remove int type hinting, now the file is correctly fixed on Windows

In requirements the

[2016-07-05 17:57] keradus commented on #2043
Maybe we introduced the invalid list only on 2.x then, don't remember.

To run the tool you need PHP 5.3.6.
To fix the file - you need PHP version that supports file syntax you are using. If you want to fix PHP7 file using PHP5... c'mon...
Tool won't error on that file (`E`rror), it will just ignore file with unknown syntax (`I`gnore).

[2016-07-05 17:59] #2043 closed

[2016-07-05 18:00] mnabialek commented on #2043
To be honest I was never thinking how php-cs-fixer is fixing files, but I thought it does not need the same PHP version. I would rather expect it's parsing only PHP file (as text) without need to have the same version, but now it's clear for me it does need the same version.

[2016-07-05 18:06] keradus commented on #2043
Again, it _DOES NOT_ need the same version.
For running the tool - 5.3.6+.

For fixing files - at least the version of PHP that started supporting syntax used in given file, for each of them individually.

If you have:
- file_a.php - using 5.6 syntax, you will have it fixed on PHP 5.6+|7+
- file_b.php - using 7.0 syntax, you will have it fixed on PHP 7+

So if you have only that 2 files you still

[2016-07-05 18:09] mnabialek commented on #2043
Yeah, this is what I mean - to fix all files you need to have PHP version installed in at least same version as those files syntax .

[2016-07-05 18:43] SpacePossum commented on #2043
More or less, as the fixer lints the files some new syntax elements might be a problem (for example with PHP7(.1)), but for a lot of PHP minor releases this hasn't been an issue.
I would say it fair to expect that when you have code that you cannot run because it relies on new features on some env.; it cannot be fixed in that env. either.

Typically devs. run a higher PHP version on their dev. set

[2016-07-05 19:38] #2046 closed

[2016-07-05 19:51] mnabialek commented on #2043
@SpacePossum The reason is than I'm on Windows platform and cannot set up here easy many things as for example supervisor etc whereas in virtual machine I can have almost everything same as on live Linux server. And it's not only PHP version but also MySQL so it's more convenient to use virtual machines for that. I'll of course update to PHP 7 on local machine too.

[2016-07-05 19:55] keradus commented on #2043
`choco install php -version 7.0.5` ;P

[2016-07-05 20:12] mnabialek commented on #2043
Never used choco before, need to check :)

[2016-07-05 20:21] SpacePossum commented on #2043
: D

ps. just run the fixer on the VM and you are all set! :)  best of luck!
pps. Snippet from my provision bash script for VMs
[code]

[2016-07-05 20:24] mnabialek commented on #2043
@SpacePossum This is exactly what I was doing when talking about Linux in this thread :)

[2016-07-06 09:13] Soullivaneuh commented on #1899
Looks good. We can also remove `final` keyword from `private` method.

A discussion about this was made in Sonata group: https://github.com/sonata-project/dev-kit/issues/185

We find that a `private` method can be "overridden". I said "overridden" because it's not really an override, just the possibility to have the same name. But it was broken if method signatures differ between the child and the

[2016-07-06 11:55] SpacePossum commented on #1899
[code]

https://3v4l.org/6vgbs

If I get it right, it should be allowed to "override" a final private method after the PR you pointed out is merged and new PHP versions released?
If so I'm happy to see the `final` from private methods removed by a fixer, but not until the new PR versions are out so we can test against this (since before that the code is invalid).

[2016-07-06 19:16] hackel opened #2052 "Unable to disable unalign_equals filter"
I'm trying to figure out how to configure php-cs-fixer to use the align_equals fixer in addition to the default Symfony config.  Here is my .php_cs:

[code]

In this case, unalign_equals still gets applied.  If I add `--fixers=align_equals` on the command-line, it works fine.  Am I missing something here?

I'm running php-cs-fixer 1.11.4 on PHP 7.0.8.

[2016-07-06 19:39] hackel commented on #2052
Hmm.  I've tried it with just the file name, and adding `-vv` and `--diff` to try to figure out what is going on.  I just tried to set `--config-file` (even though I'm using the default .php_cs), and that seemed to use the fixers from the config file, however it ignored the filename I specified on the cli and started processing the entire path defined in the config!

Is this actually the intended

[2016-07-06 19:47] GrahamCampbell commented on #2052
Yeh, it's intended. I think it was changed a bit on 2.x though. @keradus?

[2016-07-06 22:26] keradus commented on #1228
Closing due to #1254 discussion.
It's better to have false negative (not fix everything) instead of false positive (fix too much)

[2016-07-06 22:26] #1228 closed

[2016-07-06 23:26] keradus commented on #1975
@Soullivaneuh
no need to thumb up your own proposal ...

[2016-07-06 23:28] GrahamCampbell commented on #1975
lol

[2016-07-07 03:35] ezzatron opened #2053 "ClassDefinitionFixer incorrectly fixes valid multi-line "implements" sections with only one interface"
In [PSR-2 section 4.1. Extends and Implements](https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md#41-extends-and-implements):

But `ClassDefinitionFixer` currently only allows multi-line `implements` definitions when there is more than 1 interface name. This additional restriction is **not** part of the PSR-2 spec.

The relevant code can be found on [this lin

[2016-07-07 08:07] SpacePossum commented on #2053
Thanks for reporting!
I cannot recall I took this case into consideration when writing the fixer, so yes this could be a valid bug report. Feel free to open your PR including the failing test case, please add [WIP] in the title and tag me, happy to help you out :)

[2016-07-07 09:04] ezzatron commented on #2053
Okay, no worries.

[2016-07-07 17:21] keradus commented on #1678
Already done on master branch, closing

[2016-07-07 17:21] #1678 closed

[2016-07-08 22:07] keradus commented on #1872
With #1973 next up to 65% comparing to 1.x line when running under PHP 7

[2016-07-08 22:08] keradus commented on #1959
Enhancement part done by #1973

[2016-07-08 22:08] #1959 closed

[2016-07-09 00:17] keradus opened #2062 "DeclareStrictTypesFixer split"
So far, we have a (risky) fixer that adds/relocate `declare(strict_types=1)`.

I think we should split it.
1. fixer to add `declare` statement if missing (risky)
2. fixer to relocate declaration (non-risky) - here, with option what should be the position (same line with opening tag or next one).

We will be more generic and allow to have better user experience, like allowing to move declaration to

[2016-07-09 00:17] keradus commented on #2062
cc @Seldaek @SpacePossum discussion/help needed

[2016-07-09 00:29] #2001 closed

[2016-07-09 00:38] #2027 closed

[2016-07-09 00:43] keradus commented on #2028
In the end I would only add missing `\` and not trying to resolve imported class to FCCN, as utests written that way shouldn't work at the first place (excepting inheritance cases).

What about `PhpUnitExpectedExceptionAlwaysWithLeadingSlash` ? name is long, but rule is very specific .

[2016-07-09 00:50] keradus commented on #2016
OK, actually I'm confused what was the syntax on 5.x, if there were any ?

[2016-07-09 00:51] #1920 closed

[2016-07-09 10:03] SpacePossum commented on #2016
I don't think there is on >7 and the new feature is something inside a string (literal), so I'm not sure how what support could or should add?

[2016-07-09 10:09] SpacePossum commented on #2028
I agree with @keradus description on what the fixer should do.

`PhpUnitExpectedExceptionWithDefaultNamespace`
but I wouldn't down vote the other name suggestion  ;)

[2016-07-09 10:22] SpacePossum commented on #2062
Hmmm....
We have been discussing the placement of both the header, strict type declaration and namespace location in various PR's and issues. PSR does help a bit, but also seems incomplete on new features.

Maybe we could take a diff route:
- create a new fixer, something like `start_of_file`-fixer (terrible name, but for the sake of discussion)
- remove the relocate part of the strict type fixer

[2016-07-09 13:36] keradus opened #2064 "Add DeclareEqualNormalizeFixer"
[code]

better name could be nice as well ;)

[2016-07-09 13:39] keradus commented on #2016
I was (wrongly) thinking that there is some equivalent notation for PHP5. I cannot find any now.
They add a feature to handle unicode in 7, not change the syntax for it.

In that case, closing.

[2016-07-09 13:39] #2016 closed

[2016-07-09 13:52] keradus commented on #2062
I like the idea. But it looks like a lot of work.
So, one way or another, `DeclareStrictTypesFixer` needs to be split first.

[2016-07-09 14:32] SpacePossum opened #2065 "LineAfterNamespaceFixer - close tag not handled"
bug @ 1.11

current fixed output
[code]

input:
[code]

And this code crashes the fixer itself
[code]

[2016-07-09 20:42] #2065 closed

[2016-07-09 21:14] #2064 closed

[2016-07-11 18:01] tgabi333 opened #2070 "Bug in lowercase_keywords with PHP7"
It seems that PHP7 does not fix `Foo:CLASS` to `Foo:class`

See: https://github.com/tgabi333/PHP-CS-Fixer/commit/b797c5469a305f32ec998a4355038e507a7fcef6 and https://travis-ci.org/tgabi333/PHP-CS-Fixer/builds/143955227

[2016-07-11 18:16] GrahamCampbell commented on #2070
That's not a lowercase keyword in the same sense that `true` and `false` is?

[2016-07-11 18:36] SpacePossum commented on #2070
It is a keyword, but used for something else than `true` and `false`,
for ref.: http://php.net/manual/en/language.oop5.basic.php#language.oop5.basic.class.class

Since the introduction all methods of casing of `::class` are allowed (https://3v4l.org/c2ogC), so this can be fixed by a fixer.

[2016-07-11 18:41] GrahamCampbell commented on #2070
Ok, right. :+1: for adding this to the existing fixer then.

[2016-07-11 19:17] tgabi333 commented on #2070
It is currenlty works for PHP5 but not for PHP7

[2016-07-11 20:15] tgabi333 commented on #2070
Here is the problem: https://3v4l.org/YYNPS

Came with this commit: https://github.com/FriendsOfPHP/PHP-CS-Fixer/commit/0668080d9dbfa31b0b61badf94a7c4b0bc5e5004

[2016-07-11 20:18] SpacePossum commented on #2070
so the token for `class` changed from T_CLASS to T_STRING on PHP7... hmm :)
thanks for the info!
btw. do you plan for writing a PR to fix this on the PHP-CS-Fixer?

[2016-07-11 20:20] tgabi333 commented on #2070
I would love to help you. I'm still investigating the root problem. Found this: https://github.com/FriendsOfPHP/PHP-CS-Fixer/search?utf8=%E2%9C%93&q=CT_CLASS_CONSTANT

[2016-07-11 20:24] SpacePossum commented on #2070
I think the root might be that the custom CT_CLASS_CONSTANT token type is not listed as keyword here;
https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/1.11/Symfony/CS/Tokenizer/Token.php#L264
(but I didn't look into it in depth to see what might happen if it was added)

[2016-07-11 20:31] tgabi333 commented on #2070
I found too, thank you @SpacePossum , tomorrow i will create a proper PR for this.

https://travis-ci.org/tgabi333/PHP-CS-Fixer/builds/143990898

[2016-07-11 20:56] keradus commented on #2070
remember, 1.11 for bugfix.

[2016-07-13 07:05] #1726 closed

[2016-07-13 08:13] Soullivaneuh commented on #1975
Sorry but it's a vote, right? So I voted. :wink:

[2016-07-13 08:26] Soullivaneuh commented on #1899
Should be. They don't tested with final but about method signature change (should not be an impact).

But yes it should be allowed.

You're right. It should be out on PHP 5.6.24 (RC at the moment): https://github.com/php/php-src/commit/08777e9615868cf2acf4dc2a86a7ef21106beddd

[2016-07-13 14:35] mmoreram opened #2074 "ignoring remove_lines_between_uses fixer is useless"
Having this .php_cs file...

[code]

all spaces between my use statements are removed, even if the fixer `remove_lines_between_uses` are explicitly disabled.
After debugging a little bit the application, I've discovered that there is a fixer that is not doing what really has to do.

From the documentation...

* single_line_after_imports [PSR-2]
Each namespace use MUST go on its own line and there

[2016-07-13 15:01] SpacePossum commented on #2074
Hi thanks for reporting,

could you provide the following;
[code]

[2016-07-14 05:58] GrahamCampbell opened #2075 "New linter doesn't show the line number"
The php 7 tokenizer linter doesn't show the line number it occurred on.

[2016-07-14 05:59] GrahamCampbell commented on #2075
Old linter: `Syntax error, unexpected ')' in lol.php on line 5.`.

New linter: `Syntax error, unexpected ')'.`.

[2016-07-14 06:04] GrahamCampbell commented on #2075
Doesn't help that PHP has a bug where if you get the parse error as a string, it doesn't insert the line number correctly. Compare these two outputs:

1. https://3v4l.org/gMGNN
2. https://3v4l.org/t6BWp

[2016-07-14 06:05] GrahamCampbell commented on #2075
Note that the current code in php-cs-fixer calls the `getMessage` method, which is not the same as the to string implementation.

[2016-07-14 06:09] GrahamCampbell commented on #2075
Oh, wait, I think this is a bug in 3v4l.org trying to string out sensitive content about itself.

[2016-07-14 06:25] GrahamCampbell commented on #2075
I've sent a PR to address this.

[2016-07-14 06:39] GrahamCampbell commented on #2075
Hmm, my PR is incorrect since it clearly just gets the current file from the call stack rather than the one we're checking. Since we're only passing PHP the actual file content, and not the file, it doesn't look like we can really fix this in this way. The PHP bug with the bad replacement still exists (but isn't our problem).

---

I'd recommend we try to use the old tokeniser to generate the erro

[2016-07-14 08:17] #2070 closed

[2016-07-14 09:17] keradus commented on #2075
See no value in it. From tool point of view the file is valid or not. we don't care why. we don't care on which line.
We could grab some info why, but don't need to waste time on it.
It's user responsibility to have valid files, and if we tell him that file is not valid he could lint it himself.

[2016-07-14 15:34] GrahamCampbell commented on #2075
It's useful if we break their files and the post-fixing linter finds an error.

[2016-07-15 08:10] SpacePossum commented on #1119
[code]

Is valid on PHP7 but HHVM cannot handle it (https://3v4l.org/7VTKn).

The `INT` return type hint casing is not fixed atm by the fixer because it parsed as `T_STRING`.
I would like to suggest to create a transformer for;
- `T_STRING` used as return hint
- content `int`, `float`, `bool`, `string`, true`, false`, `null` (http://php.net/manual/en/reserved.other-reserved-words.php)
- transform

[2016-07-15 08:14] keradus commented on #2075
If we break it we don't save it.
And for debugging it's way to few information to have only output from linter one way or another.

[2016-07-15 08:23] keradus commented on #1119
we already have a transformer for dealing with array as array language construction or typehinting

:+1: for CT for return typehints

[2016-07-15 13:56] mmoreram commented on #2074
I'm using version 1.11

[2016-07-15 14:52] keradus commented on #2074
@mmoreram please check out #2077 ;)

[2016-07-17 14:39] cordoval opened #2080 "is there a way to tell it to scan also phtml files?"
is there a way to tell it to scan also phtml files?

I see from the code https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/1.11/Symfony/CS/Finder/DefaultFinder.php#L33 i may need to create a custom finder, but is there a way to pass it via configuration?

[2016-07-17 14:42] cordoval commented on #2080
i got this nvm

[2016-07-17 14:42] #2080 closed

[2016-07-18 08:05] dujuan870701 opened #2081 "fdf"
<?php
echo 'ddd';
?>

[2016-07-18 08:24] keradus commented on #2081
spam ?

[2016-07-18 08:24] #2081 closed

[2016-07-18 11:39] umpirsky opened #2083 "Dot after :"
PHPDoc fixer adds triling dot even when sentence ends with `:`:

Before:
[code]

After:

[code]

[2016-07-18 11:56] keradus commented on #2083
Your PHPDoc Description must be after Summary, which is missing in your case. Add missing Summary.

[2016-07-18 11:58] SpacePossum commented on #2083
This is because of the `phpdoc_short_description` so you might want to switch it off. The rule is based on [PSR5] (https://github.com/php-fig/fig-standards/blob/master/proposed/phpdoc.md#51-summary).

[2016-07-18 11:58] umpirsky commented on #2083
OK, thanks!

[2016-07-18 11:58] #2083 closed

[2016-07-19 11:07] cordoval commented on #1996
@GrahamCampbell usually the use scenario is that the people choose really separate class names so even if i try to create collisions there is none. So this fear should be remedied with a stern warning about this or just have the fixer not do the changes when in doubt, for everything else it should tackle the refactor. Does this option sound better?

[2016-07-19 13:11] cordoval commented on #1996
i went and solved it by hand since phpstorm had the feature so closing.

[2016-07-19 13:11] #1996 closed

[2016-07-19 19:35] hackel commented on #2075
Interestingly, I came here to report that it didn't indicate the filename that caused it to fail.  I *do* get a line number, though:
`PHP Parse error:  syntax error, unexpected '$this' (T_VARIABLE), expecting ';' or '{' in  on line 32`

[2016-07-19 19:55] hackel opened #2085 "Unable to track down PHP parse error (no filename reported)"
I'm having trouble figuring out the source of the following error:
[code]

I've been using php-cs-fixer on this code for a couple weeks without incident, so this must be caused by a new issue in the code.  I haven't upgraded php-cs-fixer nor altered the configuration.  I've also run my code through `php -l` and phplint just in case, and cannot find any syntax errors.

I attempted to run this throu

[2016-07-19 20:04] hackel commented on #2085
Update: I started going through all of the files I modified since my last commit and checking line 32, and discovered this was what was causing it to die:
[code]
Moving that oddly-placed comment to the top of the method fixed the error and allowed php-cs-fixer to finish.  This syntax is not technically invalid, though it certainly is ugly.

The main issue remains, there is no way to see which file

[2016-07-19 21:15] GrahamCampbell commented on #2085
Comment out the code that enables the fast tokenizing linter, and this will should you the file name. @keradus See what I mean about these error messages being terrible, and just make the tool hard to use.

[2016-07-19 22:12] SpacePossum commented on #2085
[code]

is valid (https://3v4l.org/eKqqq) but the fixer @ 1.12 with PHP 7.0.4-7ubuntu2.1 (cli) ( NTS ) results in:
[code]

[code]
reports no issues, so something else is off

[2016-07-20 06:54] keradus commented on #2075
Unrelated, as new linter is available only on v2.
Please create separated issue providing full command you have run (with `-vvv`) and it's output .

[2016-07-20 06:57] keradus commented on #2085
@GrahamCampbell not at all, it's something different.
fast linter is not used here, sa it was merged to 2.x and @hackel is using 1.11.5

[2016-07-20 07:37] keradus commented on #2085
OK, so, 2 things.

1. You have just discover new bug in BracesFixer. It produces invalid code (the lint error is from already modified code, not from original content of file), so the tool don't want to accept it and override your local file with invalid content, which in general is good. I just created a PR with a bug (thanks for example!), it still needs to be fixed: https://github.com/FriendsOf

[2016-07-20 07:49] keradus commented on #2075
@GrahamCampbell ref #2088

[2016-07-21 07:26] keradus commented on #2085
Closing due to merge of #2087

[2016-07-21 07:26] #2085 closed

[2016-07-21 07:47] #2075 closed

[2016-07-22 05:07] #2074 closed

[2016-07-22 08:10] SpacePossum opened #2090 "[Meta] PHP 7.1 features"
PHP 7.1.0 Beta 1 is [released](http://php.net/archive/2016.php#id2016-07-21-1) with a [feature stop](https://www.reddit.com/r/PHP/comments/4tw8m0/php_710_beta_1_released/d5ks9e6) so we can list the things we need to take care of or could support.
- [ ] `void` return type [RFC](https://wiki.php.net/rfc/void_return_type)
- [ ] `Iterable` pseudo-type accepting any array or object implementing `Traver

[2016-07-22 08:13] SpacePossum commented on #2090
ping @dshafik it seems the support for class constant visibility is missing from;
https://github.com/php/php-src/blob/php-7.1.0beta1/UPGRADING
it is listed in https://github.com/php/php-src/blob/php-7.1.0beta1/NEWS#L373 (PHP 7.1.0alpha1).
Am I correct to assume it will still be part of 7.1?

[2016-07-22 08:39] vschoener opened #2091 "Return 'void' instead of 'null'"
Hi guys,

Got issue on my last php-cs-fixer run. On my method, I need to return an object, if that object is not found, it's a `null` (cause if we are going deeper into the code notion, Object -> pointer -> null if nothing).

As I come from C / C ++ development, it's for me a best practice to handle that way.
But the script rewrite my `return null` to `return`..

I'm just asking why this is hardco

[2016-07-22 10:14] SpacePossum commented on #2091
Hi,

It is not hardcoded so you can fix this :)
The reason is that the SF doesn't like `return null;` until recently since the `void` type has added to PHP7.1.
To stop PHP-CS-Fixer from replacing `return null;` with `return;` don't use the `empty_return` fixer (called `simplified_null_return` on master), either by removing in your configuration file (or add `-empty_return` to the fixers list), or

[2016-07-22 12:21] vschoener commented on #2091
@SpacePossum Yeah I exaggerated on the "hardcoded" term =D

Alright, thanks for the tips :) Gonna use this now.

[2016-07-22 12:24] #2091 closed

[2016-07-23 15:16] phansys commented on #1839
#1889 was merged, closing.

[2016-07-23 15:16] #1839 closed

[2016-07-23 20:07] #1589 closed

[2016-07-24 11:31] tniemann opened #2094 "exclude folders does not work"
Hi,

i just updates and to the newest version.
But now my excluded folders are srill scaned and fixed.

This is how my .php_cs file locks like located in the root:

[code]

How can i avoid to scan specified folders?

Regards,
Thomas

[2016-07-24 11:35] keradus commented on #2094
[code]
?

[2016-07-24 11:37] tniemann commented on #2094
PHP 5.5.34 (cli) (built: Apr 22 2016 19:16:58)
PHP CS Fixer version 2.0-DEV by Fabien Potencier and Dariusz Ruminski

and i use Symfony 3.2.1

Thx.

[2016-07-24 11:40] tniemann commented on #2094
vendor/bin/php-cs-fixer -v fix .  from the root

[2016-07-24 11:40] tniemann commented on #2094
i installed it via composer

[2016-07-24 11:41] keradus commented on #2094
is it
`vendor/bin/php-cs-fixer -v fix .` from the root
or
`vendor/bin/php-cs-fixer -v fix` . from the root

(so if dot is a part of command or not) ?

[2016-07-24 11:41] tniemann commented on #2094
yes.. dot is a part of the comment

[2016-07-24 11:42] SpacePossum commented on #2094
try with `-vvv --dry-run`, I suspect your config file is not used (the `-vvv` should state it does)

[2016-07-24 11:43] keradus commented on #2094
Then you are specifying the path in your config file, and then override it via CLI param.
either don't specify it via CLI param (as it's `current dir` and not sth more precise), or use `--path-mode=intersection` param to make intersection of your config path and CLI arg path.

[2016-07-24 11:43] #2094 closed

[2016-07-24 11:45] SpacePossum commented on #2094
the `dot` is part of the comment on github, not of the bash command I believe

[2016-07-24 11:46] tniemann commented on #2094
ok.. got it. Solved!! Thx.

[2016-07-25 06:01] SpacePossum commented on #1944
ping @jaszczurek the fixer should no longer run into an internal error, it might not fix the CS as you want yet. Could you give it another try?

[2016-07-25 06:04] SpacePossum commented on #1354
I think all the cases from the examples here are fixed now :)

[2016-07-25 06:06] SpacePossum commented on #1342
ping @keradus this has been done, the TernarySpacesFixer will remove extra spaces after https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/2079

[2016-07-25 06:08] SpacePossum commented on #1887
ping @amorel-ljsl can you provide an example?

[2016-07-25 07:13] SpacePossum commented on #2029
ping @phansys :)

[2016-07-25 07:14] SpacePossum commented on #2011
I like this idea, not sure about the param name, maybe `-o stdOut` or something?

[2016-07-25 07:15] SpacePossum commented on #1916
related discussion @ https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/1638

[2016-07-25 08:00] #1342 closed

[2016-07-25 08:17] #1354 closed

[2016-07-25 08:41] GrahamCampbell commented on #2011
PHP-CS-Fixer also requires there to be an actual file name for the input to work.

[2016-07-25 11:35] JBleijenberg opened #2098 "Mirroring issues"
Whenever i try to create a mirror of this package (the original package is required by Magento2) with Satis, i get the following error

`  [PharException]
  tar-based phar "/private/var/folders/8c/rtrl_2sj3ldggkpnrcpjr3c40000gn/T/composer_archive5795f901a61ca.tar" cannot be created, filename "tests/Fixtures/Integration/misc/simplified_null_return,no_useless_return,no_whitespace_in_blank_line,blank

[2016-07-25 12:20] SpacePossum commented on #2098
which app/spec. states the name is too long?

[2016-07-25 13:48] keradus commented on #2098
http://php.net/manual/en/phar.fileformat.tar.php

we are building phars without any problems.

also, why there is tests folder in your phar ?

[2016-07-27 02:08] hackel opened #2099 "Request: Support for custom template formats (Blade)"
This may be considered outside of the scope of this project, but I didn't see it mentioned anywhere yet so I thought I would throw it out there.  It would be really useful if there was a way to define custom php start/end tags for compatibility with various contemplating systems.  My use-case is Laravel Blade.  I've been trying to clean up one old project in particular and it has a lot of code lik

[2016-07-27 06:29] keradus commented on #2099
In general - no.
We are using native PHP tokenizer / linter, and for it given code sample is not PHP code as well.
You cannot easily hook into them to modify the allowed opening tags.
So, the general answer is no - PHP CS Fixer will not do what you ask.

For that, you would have to create a custom fixer that will replace `{{` with `<?php` and `}}` with `?>`, that will run before all fixers, and se

[2016-07-27 07:20] JBleijenberg commented on #2098
@keradus because it's in the package on packagist. And satis repackages eveything when it creates a mirror.

[2016-07-27 07:20] JBleijenberg commented on #2098
Btw. I can still use 1.11, after that i get this error

[2016-07-27 07:22] JBleijenberg commented on #2098
@SpacePossum Satis uses Composer to recreate the package. That's where the error pops up

[2016-07-27 07:43] SpacePossum commented on #2098
I see, would a `.gitattributes` help?

[2016-07-27 08:00] keradus commented on #2098
also, do you know how phar file is created? as I assume it don't use our config for box.

[2016-07-27 17:32] hackel commented on #2099
Ahh, okay that makes sense.  Perhaps it could replace `{{` with e.g. `<?php/*@blade-start*/` or something so that only those specific tags would be converted back at the end.  It would screw up the character counts, unfortunately, but I suppose that's a small price to pay.

[2016-07-27 19:35] keradus commented on #2099
Depends do you want to run the fixer then on all files on only on those templates.
I would say that blindly changing `{{` into opening tags could be problematic and may have some risky edge cases, so I would do it in separate run, but in the end it is up to you ;)

As said before, translating non-php into php is not a job for this tool, it needs to be handle outside.
Therefore closing due to discu

[2016-07-27 19:35] #2099 closed

[2016-07-28 12:15] mayurpande opened #2102 "Not fixing issues"
I have downloaded php codesniffer as well as PHP-CS-Fixer.

When I run code sniffer it tells me that I have

It can be seen in the cs.png image.

Then when I run php-cs-fixer with the command

`php-cs-fixer fix /var/www/html/oop.com/db.php --level=psr2`

I get the result;

`Fixed all files in 0.036 seconds, 4.000 MB memory used`

So when I go and check back using code sniffer I still get the same

[2016-07-28 12:44] mayurpande commented on #2102
Resolved it. I was typing the wrong command.

I was using: `php-cs-fixer fix /var/www/html/oop.com/db.php --level=psr2`

when I should be using: `php-cs-fixer fix -v --level=psr2 file.php`

Found the answer on [phptherightway](http://www.phptherightway.com/)

[2016-07-28 12:45] #2102 closed

[2016-07-30 11:07] Strate opened #2103 "multiple_use analogue for traits"
As for now, therer is seems no rule, which forces each use of trait be on separate line:

[code]

should be reformatted by the rule to:

[code]

[2016-07-30 14:22] SpacePossum commented on #2103
indeed, check 1.12 and master and both don't do that, nice FR!

[2016-07-30 15:41] phansys commented on #2103
I think it could be added as an option at "single_class_element_per_statement" fixer.

[2016-07-30 17:37] SpacePossum commented on #2103
or maybe `single_import_per_statement`? not use....

[2016-08-01 08:56] keradus commented on #2103
`single_class_element_per_statement`
trait import is not element of class. it's an instruction to import some elements

[2016-08-01 10:13] SpacePossum commented on #2103
check and agreed :)
`single_class_element_per_statement` it is, anyone got time to pick this up?

[2016-08-01 10:41] keradus commented on #2103
I think you not understand my comment in a way I hope to express, sorry.
I'm against making it in `single_class_element_per_statement`, as import trait statement is not element of class itself.

[2016-08-01 12:00] SpacePossum commented on #2103
I did misread indeed,  new fixer than?

[2016-08-01 12:25] keradus commented on #2103
I would say that having some other opinions would be great ;)

[2016-08-02 09:35] amorel-ljsl commented on #1887
Hi @SpacePossum,
We are not using PCF anymore on the current project. However the example is very easy to reproduce, on Windows. If i run any PHP file through the fixers, with the command line given in first post, the whole file becomes LF, except for the first line.
If you absolutely need a file, i can try to make one example for you, by the end of the week.

@keradus : not sure what you mean by

[2016-08-02 14:44] larsnystrom opened #2105 "Foreach as method name gets formatted like a loop"
The code

	class MyClass
	{
		public $data;
		public function foreach(callable $fn)
		{
			foreach ($this->data as $key => $val) {
				$fn($val, $key);
			}
		}
	}

becomes

	    class MyClass
	    {
	        public $data;
	        public function foreach (callable $fn) {
	     foreach ($this->data as $key => $val) {
	         $fn($val, $key);
	     }
	 }
	    }

Settings:

    "php_cs_fixer_addit

[2016-08-02 18:24] SvenRtbg commented on #1859
@GrahamCampbell Constructors don't return anything - that's what makes them special in PHP. The instance of the class is already created, the constructor merely has the chance to initialize some fields or trigger some action, but you'll never see this code assinging `null` to $expectedNull:

    class ThatClass {
    public function __construct() {
        return null;
    }
    // ...
    $expect

[2016-08-03 09:12] SpacePossum opened #2106 "UnalignEqualsFixer - ShortArraySyntaxFixer - priority bug"
Input

[code]

after run 1;
[code]

after run 2;
[code]

[code]

[2016-08-03 09:23] keradus commented on #2106
Great catch !
It looks easy.
Please, could you send a fix @SpacePossum ?

[2016-08-03 09:48] larsengel opened #2107 "Formatting "} else if (..) { }" into an "} else { if () { } }""
Hey everyone,
I executed the following fixers in my project:
- short_tag
- encoding
- braces
- indentation
- line_after_namespace
- visibility

Unfortunately the fixers did the following to my else ifs:

**Before:**
[code]
**After:**
[code]

Is this a whised behavior?

Best Regards,

Lars

**Edit:**

- Version: PHP CS Fixer version 1.11.6 by Fabien Potencier (41dc93a)
- I executed the fixer with t

[2016-08-03 12:05] SpacePossum commented on #2106
@ see https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/2108

[2016-08-03 12:05] #2106 closed

[2016-08-03 12:21] keradus commented on #2107
Please provide the version you are using, CLI command and config file (if there is one)

[2016-08-03 15:12] GrahamCampbell commented on #2107
Looks correct to me. If you enable the elseif fixer too, it won't do this.

[2016-08-03 16:25] keradus commented on #2107
yep, braces is adding missing braces for new scope, and else is creating a scope, in your case you have only one thing in that scope - `if`.

[2016-08-03 16:25] #2107 closed

[2016-08-03 19:26] ABM-Dan commented on #1589
This is still occurring.

[2016-08-03 19:56] SpacePossum commented on #1589
I guess you tried on 1.11.6? The fix is done after that release, so you've to wait for that one (1.11.7) or run the fixer from source. Let me know if it is still an issue :)

[2016-08-03 20:33] ABM-Dan commented on #1589
Oh yeah, I thought .6 was the correct version.

[2016-08-04 11:07] sstok commented on #2062
Can we at least for now place the `declare(strict_types=1);` on it's own line?
That's also what is proposed in the psr document.

I'm facing a conflict between StyleCI and php-cs-fixer, because php-cs-fixer wants to keep it on the opening tag line, but StyleCI insists on placing it on it's own line.

@GrahamCampbell is StyleCI using a custom fixer for this? because it should not give a different r

[2016-08-04 11:56] SpacePossum commented on #1749
the check can be done inside the configuration file itself, so no need for this.

[2016-08-04 11:56] #1749 closed

[2016-08-04 15:22] keradus commented on #2090
I Added multiple-catch  to the list

[2016-08-04 15:37] SpacePossum commented on #2090
perfect, filling in the blanks :)

[2016-08-05 10:35] mega-n3ss opened #2114 "Line number"
Hi there,

My file are so long and it's difficult to know where the CS errors are.
What can i do to see the line number ? Can you put line number please ?

Best,

[2016-08-05 10:41] keradus commented on #2114
Hi !

Currently you have no option for that.
If you want that feature please contribute.

Closing as duplicate of #1620

[2016-08-05 10:41] #2114 closed

[2016-08-07 19:58] GrahamCampbell opened #2116 "Broken short array syntax fixer"
Ther short array syntax fixer after the latest commit also unalings the equals too...

[2016-08-07 20:12] SpacePossum commented on #2116
Can you provide an example?

[2016-08-07 20:22] GrahamCampbell commented on #2116
I think this is actually caused by the transformer changes. https://github.com/laravel/framework/pull/14681/commits/c0305b4dab922b6da7c235a6484f654dcda8b6e7

[2016-08-07 23:36] keradus commented on #2116
Please provide specific version (what is latest commit? at least which line) and minimal code sample that describes issue.

[2016-08-08 08:28] GrahamCampbell commented on #2116
Broken on master branch. Not broken 18 days ago on master.

[2016-08-08 08:28] GrahamCampbell commented on #2116
Unrelated to the short array syntax fixer. Happens with double arrow unalign turned off and with short array syntax turned off.

[2016-08-08 08:37] keradus commented on #2116
To be honest I have no idea what is the bug you are trying to report. To messy, too few information.
Please create a PR with utests. Or even with a fix.

[2016-08-08 08:41] GrahamCampbell commented on #2116
laravel/framework@c0305b4

The above happened with zero config changes. The unalign double arrow fixer was not turned on.

[2016-08-08 08:46] GrahamCampbell commented on #2116
I'll try and send a proper bug report once I get time. Sorry this one was really shitty.

[2016-08-09 20:23] petski opened #2123 "Conflicting fixers"
Consider this test-file:

[code]
This would fix the $long-array to a short syntax:

`$ php-cs-fixer fix . --level none --fixers='long_array_syntax,short_array_syntax' --verbose --dry-run --diff`

This would ALSO fix the $long-array to a short syntax: (note that I updated the order of fixers):

`$ php-cs-fixer fix . --level none --fixers='short_array_syntax,long_array_syntax' --verbose --dry-run --

[2016-08-09 20:30] GrahamCampbell commented on #2123
This has already been implemented on 2.x. :)

[2016-08-09 20:44] petski commented on #2123
This is amazing :) I can confirm this feature exists in 2.0.0-alpha:

[code]
If we'll ever meet, first drink is on me :)

[2016-08-09 20:44] #2123 closed

[2016-08-11 07:46] nikolaposa opened #2125 "Space between the declare statement and parenthesis"
`brace` CS fixer is adding needless space between the `declare` and parenthesis. I was able to reproduce this behavior on version **1.11.6**.

Expected:
[code]

Actual:
[code]

[2016-08-11 08:49] Med-Seif opened #2126 "Problem running php-cs-fixer on windows"
I tried to launch php-cs-fixer on wondows 7 x64 and I always an error "php CLI error".
I inspected the error in windows events observer and I found that it was related to "MSVCR90.dll" module error.
My php version is 5.3.8.0

Thank you in advance

[2016-08-11 09:13] keradus commented on #2126
I use the tool heavily on Windows platform and it works like a charm.
It looks like your php env is not installed properly or your VS libraries are messy.

Update your env and try again.

[2016-08-11 09:14] keradus commented on #2126
(BTW, our Windows CI is working as well ;) )

[2016-08-11 09:25] keradus commented on #2125
Please, could you check 1.12@dev ?

[2016-08-11 11:35] nikolaposa commented on #2125
Seems fine on 1.12.

[2016-08-11 12:16] Med-Seif commented on #2126
Thank you, You're right I re-installed Xampp and worked fine now

They installed Xampp not directly in C:\

[2016-08-11 12:20] #2126 closed

[2016-08-11 14:36] rugk opened #2127 "Use HTTPS for downloads & website"
You should use HTTPS for both http://cs.sensiolabs.org/ and get.sensiolabs.org.
Currently anyone can MITM the download of this `.phar` file and inject malicious code.

[2016-08-11 14:44] keradus commented on #2127
should be changed since 1.11.5: https://github.com/FriendsOfPHP/PHP-CS-Fixer/commit/c7d50c5feb2b0de88f4a852871b58f8bcc37536b

looks like webpage is outdated

[2016-08-11 14:59] rugk commented on #2127
Yes, it seems to be this way. Also HTTPS is not configured correctly on these sites:
* https://cs.sensiolabs.org/ (wrong cert, only valid for security.sensiolabs.org, www.security.sensiolabs.org, and mixed content errors)
* https://get.sensiolabs.org/ (no server found)

Downloading the files from GitHub is okay, but also the sensiolabs sites should use HTTPS.

[2016-08-12 10:04] sstok commented on #2125
Works on master also 👍

[2016-08-12 12:41] Slamdunk commented on #2098
`.gitattributes` is coupled with git archive, so if the phar is compiled from source retrieved in any method except the zip, the error remains.

[2016-08-12 12:47] keradus commented on #2098
the error is very tricky to reproduce. we also build phar file and we have no issues with it

[2016-08-13 13:01] designermonkey opened #2130 "Generic.Functions.FunctionCallArgumentSpacing"
I have set `phpcs` to ignore this setting, yet I cannot prevent fixer from 'tidying' it up.

What is the corresponding fixer so I can exclude it?

[2016-08-13 16:17] larsnystrom commented on #2105
Ah, yes, updating from 1.11.4 to 1.11.6 solved this. Sorry for bugging you. (pun intended)

[2016-08-13 16:17] #2105 closed

[2016-08-15 10:04] keradus commented on #2130
I would say you wanted to ask that question on `PHP CodeSniffer` repo, not `PHP Coding Standards Fixer`. Closing.

[2016-08-15 10:54] designermonkey commented on #2130
Why do I need to ask it there, when it is an issue with the fact that cs fixer is not allowing me to exclude the setting?

I am asking if there is a specific fixer I can exclude that would not fix this setting. For example:

[code]

which does not exist.

This request is wholly about the fixer, not `phpcs` itself, which is working as expected.

[2016-08-15 10:57] GrahamCampbell commented on #2130
What made you think it would have the same name?

[2016-08-15 11:51] keradus commented on #2130
@designermonkey you provided information that you are using `phpcs` and give rule from `phpcs`...
very well, provide a code snippet you are fixing, actual and expected output, PHP CS Fixer version, configuration file and CLI command you are using.

[2016-08-15 23:17] #2014 closed

[2016-08-16 01:38] adawolfa commented on #2022
I have experienced this as well, files named `cs_*.tmp` appeared in my working directory when fixer failed. I am pretty sure this is caused, at least in my case, by `Symfony\Component\Filesystem\Filesystem` class, which is used by `LintManager`. The `Filesystem` class removes temporary files in destructor, which will not get called occasionally (when an exception occures, etc).

[2016-08-16 07:20] keradus commented on #1975
@Soullivaneuh , do you have a safe way to implement second fixer?

[2016-08-16 08:02] GrahamCampbell commented on #2022
If it's a fatal error that occurs, then I'd expect this since PHP does not execute object destructors when a fatal error occurs.

[2016-08-16 08:04] GrahamCampbell commented on #1975
It's impossible to implement safely in any way that isn't total garbage (ie, you could alias all imports to some long random string). People could define classes more than one per file, or in any non-PSR way, so there really is no way to guess, even if we could look around at the filenames in the current folder.

[2016-08-16 08:04] keradus commented on #2022
We could register shutdown function. That would solve the issue. The only tricky part would be to create utest for it

[2016-08-16 08:05] GrahamCampbell commented on #2022
Yeh, that's exactly it. :/

[2016-08-16 08:08] keradus commented on #2022
@adawolfa could you please send a PR to solve the issue ?

[2016-08-16 08:30] GrahamCampbell opened #2134 "PHP 5.3 Phar Broken"
As travis shows.

[2016-08-16 08:31] GrahamCampbell commented on #2134
https://travis-ci.org/FriendsOfPHP/PHP-CS-Fixer/jobs/152603392

[2016-08-16 08:32] GrahamCampbell commented on #2134
This is because you're building the phar with perfer lowest, instead of just saying you need PHP 5.3 compatible dependency resolution. The two are not the same thing.

[2016-08-16 08:33] GrahamCampbell commented on #2134
Worse than that, you're pulling in buggy insecure dependencies too. ;(

[2016-08-16 08:58] GrahamCampbell opened #2135 "Broken fixing"
The following file when fixed at the symfony level results in invalid syntax:

[code]

I guess it's due to that comma and the comment just above the word redis.

---

I'll provide more useful information at the weekend:

* A minimal fixer set to use.
* A minimal test case.

[2016-08-16 09:27] keradus commented on #2134
yep, I noticed that :/

[2016-08-16 09:27] keradus commented on #2134
one thing is to fix it, but I would say more important is to prevent it to happen again

[2016-08-16 09:28] keradus commented on #2135
Please also provide version of the tool, PHP and even the fix ;)

[2016-08-16 09:33] GrahamCampbell commented on #2134
One fix could be to require that securing repo that prevents insecure deps getting loaded. The second thing to do would be not to use prefer-lowest. Why do we need that. Just use the normal install on PHP 5.3, because, let's face it, PHP 5.3.9 deps will still work for us on PHP 5.3.3. That's exactly what composer does when it builds it's phars.

[2016-08-16 09:34] GrahamCampbell commented on #2135
PHP 7.0.3, and the tool version is the commit one before that completely broken commit on the master which made it unusable. :trollface:

[2016-08-16 09:36] GrahamCampbell commented on #2135
Try turning off the double arrow unalign fixer and using the symfony level on the current master. You'll see that it still unaligned double arrows.

[2016-08-16 10:19] keradus commented on #1975
depends, you may have it working safely in only few cases, that why I asked what @Soullivaneuh has on his mind

[2016-08-16 10:23] keradus commented on #2135
don't you refer different issue now? we still waiting for more information about it, even better - if only you could reproduce it you could just fix it as well.
reports like "sth is not working" isn't useful :D

[2016-08-16 10:26] keradus commented on #2134
but you are talking about fix (which I agree with), not the protector to not have it happen again.

[2016-08-16 10:39] GrahamCampbell commented on #2135
Yeh, I know, lol. I just don't have time to properly look into it today. I'll provide proper information at the weekend. :)

[2016-08-16 10:54] keradus commented on #2134
totally not related

We need that to check if min version we are saying we do support we support indeed.
But we do not use prefer-lowest for building phar. only for running utests and fix command

[2016-08-16 11:01] keradus commented on #2134
The fail is actual on box part, not in our code

[2016-08-16 11:09] GrahamCampbell commented on #2134
I'd say it's our fault 100%.

[2016-08-16 11:11] g105b opened #2136 "Fixer cookbook missing implementation of abstract methods."
When following https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/1.11/COOKBOOK-FIXERS.md step by step, the last point of step 1 can't be completed (`php php-cs-fixer readme > README.rst`) as the following error message is displayed:

[code]

I will raise a PR shortly.

[2016-08-16 13:42] adawolfa commented on #2022
@keradus Will do soon.

[2016-08-16 14:45] drazisil opened #2140 ".phar file missing from current release"
https://github.com/FriendsOfPHP/PHP-CS-Fixer/releases/download/v1.11.7/php-cs-fixer.phar is a 404 when trying to install using the commands in README.

I was not able to locate php-cs-fixer.phar in the source tree either.

[2016-08-16 14:46] GrahamCampbell commented on #2140
Duplicate of https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/2134.

[2016-08-16 14:47] #2140 closed

[2016-08-16 18:21] keradus commented on #2134
Based on what ?
It's box issue, I just confirmed it: https://github.com/box-project/box2/issues/151
I will move building phar file to 5.6, then it will work. (But that's only workaround, box issue is still there)

[2016-08-16 18:52] keradus commented on #2140
@drazisil
Travis failed to create phar file due to buggy build of box, which we are using to build phar file ( see https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/2141)
I have created phar file locally and updated release on github Releases.

[2016-08-16 20:26] GrahamCampbell commented on #2134
I thought that syntax error was in our deps, not boxes?

[2016-08-16 20:29] keradus commented on #2134
no, error is from box.phar/vendors/...

[2016-08-16 20:30] GrahamCampbell commented on #2134
Hmmm.

[2016-08-16 21:40] #2134 closed

[2016-08-16 21:41] #2127 closed

[2016-08-17 08:51] jfx opened #2146 "Fix readme : fabpot/php-cs-fixer -> friendsofphp/php-cs-fixer"
In README.rst file, composer installation part :
Modify
`./composer.phar global require fabpot/php-cs-fixer`
to
`./composer.phar global require friendsofphp/php-cs-fixer`

[2016-08-17 08:52] GrahamCampbell commented on #2146
Please see the 1.12 or master branches.

[2016-08-17 08:53] GrahamCampbell opened #2147 "Set 1.12 branch as default"
Maybe we should do this. There's still confusion over the package name.

[2016-08-17 09:45] keradus commented on #2147
Not a real issue. Closing.

1.12 was released at night, I just had no power to announce it or switch the branch at night.

[2016-08-17 09:45] #2147 closed

[2016-08-17 09:46] keradus commented on #2146
Already done, closing

[2016-08-17 09:46] #2146 closed

[2016-08-17 10:34] DarkaOnLine commented on #1801
@keradus , I would like to make a PR for this fixer, but before I begin I have few questions:

- Why #1803 was rejected ? For me, it looks like good idea to use abstract class and then extend it in two different fixers.
- You suggested that "this fixer should not be new fixer but the option for existing one", but how it could be done ? Can you show me an example how can I pass an option to the fix

[2016-08-17 12:31] tgabi333 commented on #2022
+1 with version 1.12

[2016-08-17 12:39] keradus commented on #1801
sadly, because of

--------

config:
1.x example: https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/ddac737e1c06a310a0bb4b3da755a094a31a916a/Symfony/CS/Fixer/Symfony/UnneededControlParenthesesFixer.php#L63
2.x example: https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/master/src/Fixer/ControlStructure/NoUnneededControlParenthesesFixer.php#L63 (same fixer)

[2016-08-17 12:55] jfx commented on #2146
Sorry, I didn't notice that default branch was not master or last release.

[2016-08-17 13:20] keradus commented on #2146
no problem ;)

[2016-08-17 14:02] DarkaOnLine commented on #1801
@keradus Can you please take a look at this. Am I going in the right direction or not ?

https://github.com/DarkaOnLine/PHP-CS-Fixer/blob/feature-ordered_use_by_length/Symfony/CS/Fixer/Contrib/OrderedUseFixer.php

https://github.com/DarkaOnLine/PHP-CS-Fixer/blob/feature-ordered_use_by_length/Symfony/CS/Tests/Fixer/Contrib/OrderedUseFixerTest.php#L590

[2016-08-17 14:22] keradus commented on #1801
Please just open a PR with WIP, it would be easier to see the changes.

[2016-08-17 14:57] DarkaOnLine commented on #1801
Done #2148

[2016-08-19 19:23] damnedest opened #2151 "operators_spaces brakes array double arrows"
Since 1.11.7 operators_spaces fixes arrays double arrow.

Before
[code]
After
[code]

I think that operator fixer should not affect arrays since aligment in arrays is something more complex.

[2016-08-19 19:35] keradus commented on #2151
ref: may or may not be connected with not-fully prepared report #2135

Please, provide CLI command you are using (with all args), config file and PHP version.

[2016-08-19 19:36] GrahamCampbell commented on #2151
Not related to that issue, but might be to my other one.

[2016-08-19 19:36] GrahamCampbell commented on #2151
I'll close up all my garbage bug reports and replace them with real ones soon, I promise. :)

[2016-08-20 08:38] damnedest commented on #2151
I started fixer only with operators_spaces, so he gives problems.

[2016-08-20 20:43] keradus commented on #2151
Too many spaces around operators are trimmed thanks to #2092

If you want to have them aligned, use `align_double_arrow` fixer.

[code]

[2016-08-20 20:45] #2151 closed

[2016-08-21 06:40] damnedest commented on #2151
But I don't want to realign my arrays. operators_spaces is doing some job with arrays witch it shouldn't do.

[2016-08-21 08:43] keradus commented on #2151
why you want to have extra 2 spaces?

[2016-08-21 08:54] damnedest commented on #2151
Basically problem is that this fixer brakes more complex aligments like this:
[code]

All I want is that this operator won't affect arrays, because for align arrays we have "align_double_arrow". Maybe I'm wrong.

[2016-08-21 14:26] keradus commented on #2135
ping @GrahamCampbell

[2016-08-21 14:26] keradus commented on #2116
ping @GrahamCampbell

[2016-08-21 14:27] keradus commented on #1932
Closing as there were no votes up and issue is really old.

[2016-08-21 14:27] #1932 closed

[2016-08-21 14:28] keradus commented on #1931
Closing as there were no votes up and issue is really old.

[2016-08-21 14:28] #1931 closed

[2016-08-21 14:29] keradus commented on #1797
Closing thanks to #2013

[2016-08-21 14:29] #1797 closed

[2016-08-21 14:30] keradus commented on #1778
Closing as this ticket is really old and we have no conclusion.
I still would appreciate to have a cleanup of our README file.

[2016-08-21 14:30] #1778 closed

[2016-08-21 14:31] keradus commented on #1761
Closing as there were no votes up and issue is really old.
If one want - please send a PR with proposed change.

[2016-08-21 14:31] #1761 closed

[2016-08-21 14:31] keradus commented on #1760
ping @GrahamCampbell

[2016-08-21 14:34] keradus commented on #1650
Closing due to lack of community interest for too long.

[2016-08-21 14:34] #1650 closed

[2016-08-21 14:37] #1638 closed

[2016-08-21 14:39] #1872 closed

[2016-08-21 14:39] keradus commented on #1604
Closing due to #1872

If one want to improve performance even more he is more than welcome !

[2016-08-21 14:39] #1604 closed

[2016-08-21 14:40] keradus commented on #1603
ping @GrahamCampbell

[2016-08-21 14:40] keradus commented on #1588
ping @GrahamCampbell

[2016-08-21 14:41] keradus commented on #1521
looks like already done.

[2016-08-21 14:41] #1521 closed

[2016-08-21 14:41] keradus commented on #1136
ping @GrahamCampbell

[2016-08-21 14:41] keradus commented on #1122
fix @GrahamCampbell

[2016-08-21 14:42] keradus commented on #1957
Fixed by #1961, closing

[2016-08-21 14:42] #1957 closed

[2016-08-21 14:56] keradus commented on #1720
Closing due to lack of community interest for too long.

[2016-08-21 14:56] #1720 closed

[2016-08-21 15:04] keradus commented on #2130
Sadly, this issue report provide non information what you want to achieve. Missing answer for requested information is not helping as well. Referring to another tool setting won't help us well.
For all that - closing, again.

What you should do is to read the README file and take a look what are our current fixers. Also, you could check with rules were applied on your code.
`method_argument_space`

[2016-08-21 15:04] #2130 closed

[2016-08-21 15:19] #2022 closed

[2016-08-21 16:06] GrahamCampbell commented on #1521
Not done.

[2016-08-21 16:07] GrahamCampbell commented on #1650
Aw. ;(

[2016-08-21 16:09] GrahamCampbell commented on #1761
Please can we keep this open otherwise I stand even less chance of remembering than I already do.

[2016-08-21 16:10] GrahamCampbell commented on #1931
This issue is not exactly old?

[2016-08-21 16:10] GrahamCampbell commented on #1931
And the bug remains?

[2016-08-21 16:12] GrahamCampbell commented on #1932
There's still a lot of demand for this. I have people asking for this every week.

[2016-08-21 16:13] GrahamCampbell commented on #1932
I'm happy to implement it, but only if it's wanted.

[2016-08-21 16:14] keradus commented on #1761
I do not refuse to have it implemented, but since nobody even commented this for half a year I decided to close it. We reached 100 opened issues, I really want to get ride of most of them still this month.
Feel free to implement the change and open a PR.

[2016-08-21 16:15] GrahamCampbell opened #2153 "Tokenizing linter doesn't work"
The following file is invalid, yet it passes the "fast" linter: https://3v4l.org/ij0AH.

[code]

See how no exception is thrown: https://3v4l.org/UIF8C.

[2016-08-21 16:16] GrahamCampbell commented on #2153
Not much use for syntax checking files. :/

[2016-08-21 16:16] keradus commented on #1931
Apparently only you treat it like a bug. I'm happy to not have that pointless line and exception to the rule.
I do not refuse to have it implemented, but since nobody even commented this for 3 months I decided to close it. We reached 100 opened issues, I really want to get ride of most of them still this month.
Feel free to implement the change to let the behaviour be configurable, then open a PR.

[2016-08-21 16:16] GrahamCampbell commented on #1761
I'll make a private issue for myself then.

[2016-08-21 16:17] keradus commented on #1521
No? I didn't found it on master branch.
Feel free to prepare the change and send a PR.

[2016-08-21 16:18] keradus commented on #1761
To be honest I have no idea what I could do with that knowledge...

[2016-08-21 16:18] keradus commented on #1932
Feel free to implement the change to let the behaviour be configurable, then open a PR.

[2016-08-21 16:20] keradus commented on #2153
I would say it works fine for CS usage.
What's the issue with this file to be CS fixed ?

[2016-08-21 16:21] GrahamCampbell commented on #1521
Both fixers remain:

1. https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/master/src/Fixer/Phpdoc/PhpdocTypeToVarFixer.php
2. https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/master/src/Fixer/Phpdoc/PhpdocVarToTypeFixer.php

---

The proposal I had was to remove them both once we got to a point where nobody cared about type or had it used anywhere/

[2016-08-21 16:22] GrahamCampbell commented on #2153
The issue is one of our fixers could break a file and we'd never know because the new linter passes, but the old one fails. I don't know how many other cases this is true for as well. This is just one I noticed.

[2016-08-21 16:23] GrahamCampbell commented on #1761
I guess what I'm saying is it's not encouraging contributions into this repository. I have the same issue when I close issues on the laravel/framework.

[2016-08-21 16:47] keradus commented on #2153
So let say the initial file is:
[code]

and we would fix it to:

[code]

Both file passes tokenizer-based linter, but cannot be executed.
File was not damaged by our fixer.

In general, I **do** agree with you that it would be great if tokenizer-based linter would fail in the first place, but sadly, it didn't. Great to have it in mind and observe, but there is not much we could do except forcing p

[2016-08-21 16:53] keradus commented on #1761
On the other side 100 issues raised don't encourage as well.
I am not closing everything. Just the ones that are old and only 1-2 people were involved.

Especially for that I claimed during closing that i'm not doing that as I'm against change - but because nobody want this change to happen except person who raise the issue, while still will gladly accept PR with the change.
Here, if you would rea

[2016-08-21 16:56] keradus commented on #1521
The proposal you had was to remove one of them. If you want - feel free to send a PR.
But if your proposal is to wait for PSR-5 to be approved (like in 3 months? 6 months? year? never?), then it's pointless to keep the issue open. It could be recreated after year, if after that time we will be willing to finally make that change.

[2016-08-21 18:32] GrahamCampbell commented on #1521
I don't think it'll ever go through TBH. :/

[2016-08-21 18:36] keradus commented on #1521
so no reason to wait with this issue for PSR-5, right ?

[2016-08-22 08:05] #1588 closed

[2016-08-22 09:07] keradus commented on #1588
at least I close tickets with some comments why @GrahamCampbell ;P

[2016-08-22 09:09] GrahamCampbell commented on #1588
Someone else can feel free to open a new issue and/or address this. I've lost interest in this one I'm afraid. I've already got plenty of other issues to address.

[2016-08-22 09:21] keradus commented on #2151
It's hard to have fixer for binary operators, and then say fix all operators except `=>`, why not except `||` as well? or `+`, or anything? hardcoded exception is tricky to explain to users and maintain.

For aligning we have separated fixer, as we don't want to align all operators (and aligning for `=>` or `=` has different logic).

Why this is broken btw?

[code]

------------------------

Also,

[2016-08-22 09:32] GrahamCampbell commented on #2151
This is only happening due to the bug causing it to be unaligned first...

[2016-08-22 09:33] GrahamCampbell commented on #2151
Turn off both align fixers and it still gets unaligned.

[2016-08-22 09:54] GrahamCampbell commented on #2151
That seems wrong?

[2016-08-22 10:24] #2116 closed

[2016-08-22 10:26] GrahamCampbell commented on #2153
Ok, here's a major issue for you then:

[code]

Passes the tokenization, but is clearly invalid syntax.

[2016-08-22 10:29] GrahamCampbell commented on #2153
As you can see here, PHP-CS-FIXER broke the file:

![image](https://cloud.githubusercontent.com/assets/2829600/17851763/a0b84ca4-685b-11e6-8f8a-d2c6a23fdc8b.png)

[2016-08-22 11:04] keradus commented on #2151
I see nothing wrong about it.

[2016-08-22 11:06] GrahamCampbell commented on #2151
It's unaligning double arrow, and that shouldn't be happening. That case should be excluded, or the double arrow unalign fixer should be removed, and this one replaced with configuration to select operators to unalign.

[2016-08-22 11:13] keradus commented on #2151
:+1:, I was already thinking about this, but only for 2.x branch

---

configuration -> :+1:

[2016-08-22 11:14] GrahamCampbell commented on #2151
👍

[2016-08-26 01:51] keradus commented on #2153
[code]

-------------------------

[code]

-------------------------

[code]

[2016-08-26 08:45] SpacePossum opened #2156 "Delete tmp file, handle exception"
[code]

[code]

[code]

When running the fixer with user 1 creating a cache file, running it again with user 2 and the fixer modified files and tries to throw away the cache file.

[2016-08-26 09:17] keradus commented on #2156
are you sure it's about cache file (`.php_cs.cache`) and no temporary file (`cs_fixer_tmp...`) ?

[2016-08-26 09:28] SpacePossum commented on #2156
you are right, it is indeed the tmp file :+1:

[2016-08-26 10:18] keradus commented on #2156
@adawolfa please, could you take a look ?

[2016-08-26 13:11] SpacePossum opened #2157 "Backport support for .php_cs.dist to 1.12 line (and up)"
On a linux dist. when downloading the `phar` file and placing it `/usr/local/bin/`

This works

[code]

This fails

[code]

[code]

[code]

[2016-08-26 14:04] keradus commented on #2157
1.12 is using `.php_cs`, not `.php_cs.dist`. if you want, you could backport support for `.php_cs.dist` to 1.x line

[2016-08-26 14:12] SpacePossum commented on #2157
d'oh... oh man haha, thanks :)
I would like that backport, I'll work on it after my other PR's are done.

[2016-08-26 16:54] phansys opened #2159 "[RFC] Inline docblock fixer"
This RFC is for inline docblocks, since there are different ways to write them:

[code]

[code]

[2016-08-26 16:55] keradus commented on #2159
:+1: for idea

[2016-08-27 01:30] adawolfa commented on #2156
The shutdown handler gets called before destructor. Don't ask me why, because I have no idea. The best I was able to do is detect whether an error occured (using `error_get_last`) and check its severity. That, of course, sucks hard. Also, exceptions would have to be catched and checked (some exceptions don't prevent calling destructor, others do). This is not a way to go.

Anyone knows why the hel

[2016-08-27 12:35] phansys opened #2161 "[RFC] [Symfony] Class / Interface / Trait naming conventions fixer"
* Prefix abstract classes with Abstract
* Suffix exception classes with Exception
* Suffix interfaces with Interface
* Suffix traits with Trait

I think this (or these) fixers should be conidered as risky.
Ref: https://symfony.com/doc/current/contributing/code/standards.html#naming-conventions

[2016-08-27 12:38] phansys commented on #2159
Somebody knows another notation for inline docblocks? Moreover, anyone knows how to name or identify each of them?

[2016-08-27 12:45] GrahamCampbell commented on #2159
The bottom option is **not** actual doc. It's just a comment.

[2016-08-27 12:46] GrahamCampbell commented on #2161
👎 for this since we have no way to actually update references from other classes.

[2016-08-27 13:11] SpacePossum commented on #2161
very risky and it isn't really code _style_ but rather naming conversion. (I'm not against the fixer doing more than style fixing only btw., but this case seems to me out of scope)

[2016-08-28 08:30] ktomk commented on #1188
@GrahamCampbell: According to FIG ([ref](https://github.com/phpDocumentor/fig-standards/blob/master/proposed/phpdoc.md#4-basic-principles)):

[code]

there is a file-level DocBlock and many users want a single empty line after it. Normally it is followed by the namespace.

From the many other tickets it looks like some folks over here were eager to highlight that the first comment in the file per

[2016-08-28 08:42] GrahamCampbell commented on #1188
Yeh, I know, but we don't support that yet. The spec is not accepted anyway, and at it's current rate, I don't think it ever will.

[2016-08-28 08:54] ktomk commented on #1188
Well, it's accepted practice and from existing specs, totally fine.

Ppersonally I've used both ways in the past, it is just that there is a lot of code with double asterisk and also the empty line before the file comment, no idea where that originates from but it's not an issue with the fixer so I don't care.

Any idea how to bring a solution forward within php-cs-fixer? Maybe hint the first comm

[2016-08-28 10:01] SpacePossum commented on #1188
On the master version of the project both '/*' and '/**'' can be configured and used as header comment (of a file) (https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/master/src/Fixer/Comment/HeaderCommentFixer.php#L26).
So this will be in for version 2.x.
Controlling with space around the header, for example
[PHP open tag]
[white space]
[declare strict statement]
[white space]
[file-header]
[names

[2016-08-28 10:26] ktomk commented on #1188
Nice. Any plans for a release? Because why patch if it works in master already? :)

[2016-08-29 12:24] keradus commented on #2156
https://3v4l.org/JLtPl

order looks to be the same in all versions

[2016-08-29 14:13] keradus commented on #2159
wait wait wait, I misread it.

@phansys , you want to fix this:
[code]

or this as well:
[code]

?

[2016-08-29 14:22] phansys commented on #2159
It depends in the result of the "C" part of this RFC @keradus. I know some IDEs (like NetBeans) that treat the 2nd example as a docblock, regardless it isn't really a docblock as @GrahamCampbell pointed. I'm completely open to your concerns about this.

[2016-08-29 14:41] GrahamCampbell commented on #2159
It's incorrect to fix a comment to a docblock. A comment must never be interpreted as phpdoc, and nobody does that?

[2016-08-29 14:56] phansys commented on #2159
This is an example of what I mean, but the use case exposed is just for type hinting AFAIK: https://blogs.oracle.com/netbeansphp/entry/defining_a_variable_type_in. Should we ignore these cases then?

[2016-08-29 14:57] GrahamCampbell commented on #2159
Looks like those people there have made a mistake, or don't know how php works. :trollface:

I suspect they just missed out a star by mistake.

[2016-08-29 15:10] rob006 commented on #2159
AFAIK **all** IDEs treats the 2nd example as docblock and it is only safe way for define typehints for local variables - NetBeans (and Eclipse?) ignores `/** @var $someVar \SomeClass */`

[2016-08-29 15:42] regularjack commented on #2052
I'm having a similar problem, `-unalign_double_arrow` is ignored. My config looks like this:

[code]

The only cli arg being passed is the path to the config file.

Using version 1.12.0 on PHP 7.0.

[2016-08-29 15:46] SpacePossum commented on #2052
are you sure the `unalign_double_arrow` still is applied and not some other fixer does changes you didn't expect?
You can check by passing the `-vvv`, at the end it will list the fixers applied.

[2016-08-29 16:02] regularjack commented on #2052
You're right @SpacePossum, after running with `-vvv` I could see that `operators_spaces` was being applied. Adding `'-operators_spaces'` to the config fixes it.

This is kind of un-intuitive, but I guess making fixers not step over each other is not an easy problem to solve.

[2016-08-29 17:00] SpacePossum commented on #2052
I wish it wasn't, but it has been discussed and I'm not sure where the community stands ATM

This is indeed an unwanted side effect of a change I've made.
Not sure what the fix should be, IIRC @keradus and @GrahamCampbell had a discussion about it when I was AFK for a few weeks.

[2016-08-29 18:07] GrahamCampbell commented on #2052
I'd say we need to just remove the unalign double arrow and equals fixers in 2.x, and add config to the operator spaces fixer,

[2016-08-29 18:08] GrahamCampbell commented on #2052
That said, `=` and `=>` aren't really operators in the same sense as `+`?

[2016-08-29 18:38] GrahamCampbell commented on #2159
Gah. I'm going to declare my position on this as "meh". I give zero f***s about optimizing anything for an IDE. PHPDoc is for humans IMO.

[2016-08-29 18:40] phansys commented on #2159
You mean Coding Style is not for humans?

[2016-08-29 18:41] GrahamCampbell commented on #2159
Transforming doc for IDEs is outside the realm of cs. Moving about spacing in phpdoc is cs, but changing the fundamental format is not.

[2016-08-29 19:01] rob006 commented on #2159
Phpdoc is for tools. You don't need special syntax for humans, you can just write

[code]

[2016-08-29 20:16] GrahamCampbell commented on #2159
Nope. Humans can parse things just like machines. That's how we read our own code.

[2016-08-30 06:54] SpacePossum commented on #2052
Not sure what you mean. These only differ. in the sense that some people want to align those, or is there something else?
I add the exceptions to the `operators_spaces` on 1.11/1.12 and then we can discuss master after that.

[2016-08-30 07:04] teohhanhui commented on #2159
Please see https://github.com/phpDocumentor/fig-standards/blob/master/proposed/phpdoc.md#722-var

(Specifically the [example](https://github.com/phpDocumentor/fig-standards/blob/master/proposed/phpdoc.md#examples-21))

[2016-08-30 07:34] SpacePossum commented on #2159
To me it makes sense to support fixing towards popular IDE's, or to put it differently; no matter how good the PSR5 standard will be its usefulness will be determined by acceptance and implementation by tool builders.
That aside, fixing PHPDoc's OOTB :+1:, for fixing comments I would like a config flag.

[2016-08-30 12:11] phansys commented on #2159
In a strictly docblock scope, this fixer could be also used (via config argument) to transform inline docblocks to multiline ones:
**ACTUAL**:
[code]
**EXPECTED**:
[code]

[2016-08-30 12:22] phansys commented on #2159
As a side note, I always use the inline variant for variables that can be inferred by my IDE, like DI services by instance, so, it can be (in my very own use case) considered more a type declaration/hint than a real docblock. Personally, I didn't found other useful use for inline docblocks.
Is there some documentation tool that parses them out of the scope of classy elements (inside a method by in

[2016-08-30 17:51] keradus commented on #2161
yep, no way to do it without breaking people projects heavily...

[2016-08-31 07:39] HeahDude commented on #2090
Also, it seems that the fixer for spaces in ternary condition also adds a space in nullable type hints :(

[2016-08-31 08:39] keradus commented on #2090
we didn't add support for them yet. feel free to contribute !

[2016-08-31 09:23] HeahDude commented on #2090
@keradus Yes I'm just saying that it needs to update a current fixer too :)

[2016-08-31 09:38] keradus commented on #2090
we do sth like `https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/master/tests/Fixtures/Integration/misc/PHP7.test` so we try to figure out which fixers need to be updated as well for new syntax.

[2016-08-31 09:52] umpirsky opened #2165 "Namespace constant name issue"
Before:
[code]
After:
[code]

[2016-08-31 09:55] HeahDude commented on #2090
Thanks for the heads-up ;)

[2016-08-31 10:00] keradus commented on #2165
?

also, please provide full CLI command (with args) you are using

[2016-08-31 10:08] umpirsky commented on #2165
[code]

[code]

No arguments, just run `fix` command.

[2016-08-31 13:54] SpacePossum commented on #2165
I cannot reproduce this problem with both the 1.12 phar release and the current 1.12 branch.
Are you sure you are fixing using PHP7?
(I used PHP 7.0.9-1+deb.sury.org~xenial+1 (cli) ( NTS ) and the config provided minus prs0 fixer)

[2016-08-31 16:14] keradus commented on #2052
just saw it, :+1:, I proposed the same in @SpacePossum fix PR

They are

[2016-08-31 16:18] keradus commented on #1188
I really want to have support for PHP 7 (#1119) at least for 2.x, maybe even PHP 7.1 (#2090)

[2016-08-31 16:18] keradus commented on #1188
@SpacePossum , could we close it as implement on 2.x, or something is missing ?

[2016-08-31 16:44] umpirsky commented on #2165
Worked for me with `1.12`, let me update...

[2016-08-31 16:49] umpirsky commented on #2165
Update solved it, thanks!

[2016-08-31 16:49] #2165 closed

[2016-09-01 16:07] phansys commented on #2161
I've sometimes faced this kind of updates based on `preg_replace()`, but I agree the tool currently misses the ability to perform updates in other files.
Closing by now.

[2016-09-01 16:07] #2161 closed

[2016-09-01 16:13] phansys opened #2166 "[RFC] Import types with `use` statements only for non native types"
This proposed fixer should perform the following transformation:
**ACTUAL:**

[code]

**EXPECTED:**

[code]

[2016-09-01 18:02] keradus commented on #2166
i remember there were request to do the other way around

[2016-09-01 18:05] keradus commented on #2166
:-1: for it from me, hard to implement when you want to remove import only for PHP-defined global classes and not user-defined global classes and have it working for all different PHPs, also, it makes execution slower... if one want to have it he could keep it without fixer I would say, if one want to automatically do the importing (Eg only before creating release) the fixer would be nice.

but ye

[2016-09-01 18:09] GrahamCampbell commented on #2166
Looks doable with little pain, but we might have to be careful when it comes to updating phpdoc.

[2016-09-01 18:10] GrahamCampbell commented on #2166
The phpdoc side of things maybe doesn;t make this worth the effort.

[2016-09-04 19:42] keradus commented on #2135
ping @GrahamCampbell

[2016-09-04 19:43] keradus commented on #2153
Sadly, closing as cannot duplicate and lack of reporter involvement :(

[2016-09-04 19:43] #2153 closed

[2016-09-04 19:44] #2125 closed

[2016-09-04 19:45] keradus commented on #2103
@Strate are you interested in creating PR for this feature request ?

[2016-09-04 19:46] keradus commented on #2098
@JBleijenberg could you check if this is still an issue on 1.12 ?

[2016-09-04 20:03] Strate commented on #2103
@keradus I hope, but I am not sure that I'll have enought spare time for this. So, let keep it vacant :)

[2016-09-04 23:32] SpacePossum commented on #2156
closing as there is a good PR for this

[2016-09-04 23:32] #2156 closed

[2016-09-05 13:09] JBleijenberg commented on #2098
@keradus it works in 1.12
But just a question out of curiosity, why is your master branch completely different from v1.12?
When i require >= 1.11, composer will satis will break when it tries to repackage dev-master.

[2016-09-05 13:53] keradus commented on #2098
Great to here it's working! In that case I'm closing this issue, big thanks for raising it and checking it!

The `master` branch is dev line of 2.x version.
I have no idea why satis will fallbacking 1.11 to dev-master, for me it's wrong behaviour

[2016-09-05 13:53] #2098 closed

[2016-09-06 13:51] matthewnessworthy opened #2168 "Chop array/function arguments"
Would it be possible to chop array/function arguments if they exceed a specific line length or if any of the arguments takes up more than 1 line?

e.g.:
From:

[code]

To:

[code]

From:

[code]

To:

[code]

[2016-09-06 16:32] keradus commented on #2168
currently - not.
but for sure it's possible to implement that feature.

feel free to contribute !

[2016-09-06 16:43] matthewnessworthy commented on #2168
Thanks

I think it may be explained better here https://github.com/php-fig/fig-standards/blob/master/accepted/PSR-2-coding-style-guide.md#46-method-and-function-calls

[2016-09-06 20:10] SpacePossum commented on #2168
Thanks for the suggestion.
I think this might be a duplicate of https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/111

(I would like this feature and tried to write it once, but never finished it)

[2016-09-07 07:50] bcremer opened #2171 "Internal error with comment between use statements"
When a `use` statement is disconnected with a comment that ends with an comma, an Internal error occures.

Please see the following testscript to reproduce:

[code]

I stumbled upon this error while fixing the following file of a real live project: https://github.com/shopware/shopware/blob/v5.2.6/engine/Shopware/Components/Model/EventSubscriber.php#L27

[2016-09-07 07:53] keradus commented on #2171
[code]

?

[2016-09-07 07:58] bcremer commented on #2171
Sure

[code]

The error happens also on with the latest `master` but with a slightly different message:
"`Files that were not fixed due to errors reported during linting after fixing"

[2016-09-07 07:59] keradus commented on #2171
Great, do you want to propose a bugfix for it ? :)

[2016-09-07 11:47] bcremer commented on #2171
Sorry, I have limited time and the error scope is rather limited.
I am sure however, that the error is caused by this line: https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/v2.0.0-alpha/src/Fixer/Import/SingleImportPerStatementFixer.php#L46

Hope this helps.

[2016-09-07 13:46] fico7489 opened #2172 "parentheses bug"
This code:

[code]

 gives me this this error :
1) Http/Controllers/Backend/Admin/HomeController.php (align_equals)
when I run this:
vendor/bin/php-cs-fixer --dry-run -v fix

But when I run:
 vendor/bin/php-cs-fixer fix
error is not fixed.....

I fixed problem when I edit code to be like:
[code]
without parentheses ...

[2016-09-07 15:43] keradus commented on #2172
What does it mean "gives me this error" ? provide full CLI command and whole output.

Also, this would be nice as well:
[code]
?

[2016-09-07 15:48] GrahamCampbell commented on #2172
I think what he means is that fixer keeps saying it made a change to the file over and over?

[2016-09-07 17:14] SpacePossum commented on #2171
On 1.12 I think it is the `MultipleUseFixer`, breaking here https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/1.12/Symfony/CS/Fixer/PSR2/MultipleUseFixer.php#L71

[2016-09-07 17:18] SpacePossum commented on #2172
[code]

[code]

[code]

and

[code]

no issues, so we need more info

[2016-09-08 13:33] twifty opened #2173 "@method annotation in a class's docblock"
This is a feature request to add a fixer for vertical alignment for the `@method` set of annotations used in a class's docblock. Very similar to the "phpdoc_params [symfony]" fixer.

[code]

Should become

[code]

or even

[code]

[2016-09-08 15:03] raptor235 opened #2174 "Bug? cannot skip indentation fixer"
I'm running my command as follows

`/usr/local/bin/php-cs-fixer fix /Users/bartdabek/Sites/hgv/hgv_data/sites/dashboard.flowpress.dev/wp-content/plugins/fp-chart-widget/fp-chart-widget.php --level=psr2 --fixers=-indentation`

However indentation is still being fixed, I want to try and not to have indentation done.

[2016-09-08 15:19] sharifzadesina commented on #2053
This is same with more than one interface.

[2016-09-08 15:57] ABM-Dan opened #2175 "@Ignore annotation converted to comment"
I am using the following format in several places:

    /** @Ignore */
    $translatedString = $translator->trans($myString);

And the phpdoc_to_comment fixer keeps converting it into

    /* @Ignore */
    $translatedString = $translator->trans($myString);

Is this intended behavior? Because that transformation destroys the translation bundle's understanding of it.

[2016-09-08 16:02] SpacePossum commented on #2053
@ see https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/2155

[2016-09-08 16:05] SpacePossum commented on #2175
This is because the `@Ignore` is prop. not part of the PSR5 proposal and therefor is considered not a valid PHPDoc.
You can switch of the `phpdoc_to_comment` fixer to stop the fixer from doing this.
(check the readme of the version of the fixer you are using to see how to do that)

[2016-09-08 16:07] SpacePossum commented on #2174
Thanks for reporting. To help you further could you please provide:
[code]
[code]

and a minimal example of an incorrect fix? Running the fixer using `-vvv` should also list the fixer(s) which made the change, that info would be useful as well.

[2016-09-08 16:09] ABM-Dan commented on #2175
Wait, so there's a whitelist of potential metadata? I thought the point of metadata was that we could extend it as we need to.

[2016-09-08 17:05] raptor235 commented on #2174
I'll get that for you... but for now

PHP 7.0.0 (cli) (built: Dec  8 2015 16:39:19) ( NTS )
PHP CS Fixer version 1.11 by Fabien Potencier (bd3ec2c)

On Thu, Sep 8, 2016 at 12:07 PM, SpacePossum <notifications@github.com>
wrote:

--
--
Bart Dabek

_________________

Co-Founder & CTO of FlowPress Inc.  | Sidekick.pro | WPUniversity.com

647.588.6285  |  bart@flowpress.ca  |  @bartdabek

[2016-09-08 17:15] raptor235 commented on #2174
when running /w --vvv I get

 [Symfony\Component\Console\Exception\RuntimeException]
  The "--vvv" option does not exist.

/usr/local/bin/php-cs-fixer fix /Users/bartdabek/Sites/hgv/hgv_data/sites/dashboard.flowpress.dev/wp-content/plugins/fp-chart-widget/fp-chart-widget.php --level=psr2 --vvv --fixers=-indentation

Here is the sample code, I'm trying to make sure the tab doesn't get converted to

[2016-09-08 17:17] raptor235 commented on #2174
Sorry moving -v flag to the front worked... here is the output

`[ Users/bartdabek ] - $ /usr/local/bin/php-cs-fixer -v fix /Users/bartdabek/Sites/hgv/hgv_data/sites/dashboard.flowpress.dev/wp-content/plugins/fp-chart-widget/fp-chart-widget.php --level=psr2 --fixers=-indentation
F
Legend: ?-unknown, I-invalid file syntax, file ignored, .-no changes, F-fixed, E-error
   1) /Users/bartdabek/Sites/hg

[2016-09-08 17:22] raptor235 commented on #2174
Running the script multiple times I can validate that it's not ignoring indentation...

File

[code]

First run

[code]

Second run
[code]

expected no changes...

Now I change the spaces to tab

and re-run

[code]

[2016-09-08 17:27] raptor235 commented on #2174
Also I noticed I was way out of date... however running this on 1.12.0 produces the same issue

[2016-09-08 17:28] raptor235 commented on #2174
I just re-read you original msg @SpacePossum , does that mean that braces is converting tabs to spaces too? I guess I need to turn that off as well.

[2016-09-08 17:46] raptor235 opened #2176 "Indentation issue with comment"
Hey guys I'm seeing an issue with indentation when an inline comment is present... this has been formated by php-cs-fixer already

[code]

[2016-09-08 17:47] raptor235 commented on #2176
Notice the second class declaration after the //backend form the public function form( only gets two spaces assigned in front of it.

[2016-09-08 21:17] GrahamCampbell commented on #2174
Probably not a bug. I assume the braces fixer is doing this?

[2016-09-09 10:08] keradus commented on #2174
closing as you discussed it.

[2016-09-09 10:08] #2174 closed

[2016-09-09 10:09] keradus commented on #2176
[code]

and CLI command that you are using.

[2016-09-09 16:40] ABM-Dan commented on #2175
Is there a way for me to specify --level=symfony but disable that one fixer?

[2016-09-10 10:00] keradus commented on #2135
Not enough information, cannot do anything with this issue.
Closing as reported doesn't care... :/

[2016-09-10 10:00] #2135 closed

[2016-09-10 15:17] kidager commented on #2176
Same thing for me

-
[code]
[code]
-
[code]
[code]
-
[code]
[code]
-
[code]
[code]

[2016-09-13 12:03] chalasr opened #2177 "Unexpected double space between constants passed in method call"
Hi there,
here is the patch proposed:

[code]

php-cs-fixer tries to add an additional space before JSON constants separated by a pipe, giving to spaces rather than one.

Here is the analysis ran by fabbot http://fabbot.io/report/symfony/symfony/19922/04275945efe1f0d035f1744543138804e3826c3e in https://github.com/symfony/symfony/pull/19922.

Not sure about which fixer causes this as I don't know w

[2016-09-13 14:35] SpacePossum commented on #2177
When running the fixer on 1.11, 1.12 and master using the SF rule set on the sample code the fixer does not add the white space. It is unclear which version of the fixer the bot uses and with what configuration (besides that it also uses some other undisclosed logic). So my guess is that is only a fabbot issue.

[2016-09-13 14:38] chalasr commented on #2177
@SpacePossum thank you for your answer, I share your guess.
ping @fabpot

[2016-09-13 15:21] chalasr opened #2178 "PHP 7.1: A non-numeric value encountered"
Here is the `ErrorException` I get when running `php-cs-fixer` with PHP 7.1.0RC1 on a OSX environment:

  A non-numeric value encountered

Command: `php-cs-fixer fix -v`

Config:

[code]

Stack trace:

 {closure}() at /home/cs-fixer-php71/.composer/vendor/friendsofphp/php-cs-fixer/Symfony/CS/ConfigurationResolver.php:122
 Symfony\CS\ConfigurationResolver->resolveByLevel() at /home/cs-fixer-php71/.

[2016-09-13 17:55] GrahamCampbell commented on #2178
Can you show us the stacktrace please?

[2016-09-13 18:05] chalasr commented on #2178
Of course, sorry, trace added to the description.

[2016-09-13 18:12] GrahamCampbell commented on #2178
Looks like a bug in symfony rather than this codebase. :)

[2016-09-13 18:13] GrahamCampbell commented on #2178
Oh, wait. My bad. If I look a little closer... :)

[2016-09-13 18:14] GrahamCampbell commented on #2178
What version of php-cs-fixer are you using?

[2016-09-13 18:18] chalasr commented on #2178
1.11.3

[2016-09-13 18:19] GrahamCampbell commented on #2178
The bug is in your code. The string 'symfony' is not a valid level.

[2016-09-13 18:22] GrahamCampbell commented on #2178
This has already been fixed in the latest 1.x version so that it throws a nicer exception to tell you that you messed up. Please upgrade to the latest 1.12.x.

[2016-09-13 18:28] chalasr commented on #2178
Indeed, using `FixerInterface::SYMFONY_LEVEL` fixed it, don't ask me from where do this string level comes from.
Thank you for your support on my silly mistake

[2016-09-13 18:28] #2178 closed

[2016-09-13 18:30] keradus commented on #2178
I love the discussion ! :D
so the initial message while going out, wanted to check it when I'll be back, and now between opening it and reading it it's already resolved ;)

[2016-09-13 18:31] keradus commented on #2178
it's valid CLI arg value

[2016-09-14 07:55] pascal-hofmann opened #2182 "Cache not used if installed via homebrew (macOS)"
Caching is not used (if explicitly enabled) when php-cs-fixer is installed via homebrew on macOS. I guess the detection if installed via composer or phar fails.

[2016-09-14 09:18] SpacePossum commented on #2175
@ABM-Dan yes you can, try something like this:
[code]

for more info search for 'blacklist' in the [readme](https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/1.12/README.rst)

[2016-09-14 09:27] SpacePossum commented on #1188
I think a part of the issues raised here are fixed (comment vs. PHPDoc header), others are well described and discussed here https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/2062#issuecomment-231527391
So I think we close this as duplicate.

[2016-09-14 09:30] SpacePossum commented on #2052
@keradus this one can be closed because of merge of https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/2164

[2016-09-14 10:12] SpacePossum commented on #2028
@ro0NL do you have plans to work on this?

I wouldn't advise it @ see https://github.com/sebastianbergmann/phpunit/issues/2074#issuecomment-183472385

[2016-09-14 10:19] keradus commented on #2182
Feel free to debug it and contribute.
We do not support homebrew directly.

[2016-09-14 10:25] ro0NL commented on #2028
No, im not ;-) point was the (unintended) false positives in the symfony codebase. By now, i hope they are aware of it.

[2016-09-14 10:25] #2028 closed

[2016-09-14 10:34] keradus commented on #2052
Thanks !
2164 didn't link this issue ;)

[2016-09-14 10:34] #2052 closed

[2016-09-14 10:42] #1188 closed

[2016-09-14 10:43] SpacePossum commented on #2176
Can you share the code before it was fixed? My guess is the `braces`-fixer did that. So this would be a FR for an indentation fixer.

[2016-09-14 12:59] raptor235 commented on #2176
It was braces-fixer that fixed it... wish we had the option to toggle
between tabs and spaces.

On Wed, Sep 14, 2016 at 6:43 AM, SpacePossum <notifications@github.com>
wrote:

--
--
Bart Dabek

_________________

Co-Founder & CTO of FlowPress Inc.  | Sidekick.pro | WPUniversity.com

647.588.6285  |  bart@flowpress.ca  |  @bartdabek

[2016-09-14 13:10] SpacePossum commented on #2176
This is a recurring request and while I don't need it I would like to see that as well, together with Windows linebreak support. It is just that nobody seems to have find the time to implement/PR it. It is however on the list of some contributors here so it might happen in the (near) future. Let me know if you have time to help out :)

[2016-09-14 14:52] ABM-Dan commented on #2175
That's very useful, thank you!

[2016-09-14 14:52] #2175 closed

[2016-09-14 19:34] xucaen opened #2183 "PHP code not formatting"
I installed the PHP Formatter and I installed the php-cs-fixer.phar. I set both the phpformatter.pharPath and the phpformatter.phpPath (xampp). I even set a keyboard shortcut for alt-shift-f. When I am in my PHP file and I press alt-shift-f  nothing happens. I don't even get an error or warning. All I want is for my PHP code to get auto indented so it looks nice, I'm not sure why this particular p

[2016-09-14 20:35] fabpot commented on #2177
Actually, It is not a problem with PHP-CS-Fixer or fabbot for that matter, but a human problem :) IT was not a "simple" whitespace but a unicode character! See symfony/symfony@81e9713 for the fix.

[2016-09-14 20:35] #2177 closed

[2016-09-14 20:38] chalasr commented on #2177
Haha... Sorry for having blamed the bot so quickly!
Thank you for the fix.

[2016-09-15 05:29] SpacePossum commented on #2177
Thanks for the feedback, nice find! :)
I'll look into the `operators_spaces`-fixer, it should have replaced the white space unicode character with a space and not just added the space after it.

[2016-09-15 08:15] SpacePossum opened #2184 "HHVM 3.9 - 1.12.1 phar release broken"
[code]

As discussed low prio, but here is a place holder issue.

[2016-09-15 08:25] SpacePossum opened #2185 "Tokenizer - white space assumed part of literal"
https://3v4l.org/2bDe7

[code]

[code]

Because the white space char. before the constant is not a space but a 'special' white space char it is added to the constant. Spotted in the wild @ https://github.com/symfony/symfony/commit/81e9713

Not sure how to proceed here, should we:
-  'dumb' replace the characters with a true space
- fix the tokenizer
- do nothing

Any opinions?

[2016-09-15 08:27] keradus commented on #2184
does 1.11.x / 1.12.0 / 2.x works ?
does 1.12.1 on hhvm 3.9 installed via composer works?

[2016-09-15 08:29] GrahamCampbell commented on #2184
What about HHVM 1.12 or 1.15?

[2016-09-15 08:31] keradus commented on #2177
nope, i would say dedicated one for converting all of them, not only around operators

[2016-09-15 08:36] SpacePossum commented on #2177
agreed, my first guess was off, @ see https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/2185

[2016-09-15 08:40] SpacePossum commented on #2184
lets see https://github.com/FriendsOfPHP/PHP-CS-Fixer/pull/2186

do we support those versions? I would drop support for everything below 3.x

[2016-09-15 08:49] SpacePossum commented on #2184
1.11.0 seems OK

[2016-09-15 09:04] GrahamCampbell commented on #2184
Meant 3.12 and 3.15 rather. :)

[2016-09-15 09:57] ogizanagi commented on #2185
So the issue simply was that the used space was an non-breaking space instead of a normal space ?

I think replacing the non-breaking space by a normal space is a good option. I don't think fixing the tokenizer is, because using a non-breaking space here is not expected IMHO.

[2016-09-15 10:14] keradus commented on #2185
You cannot easily replace it as tokenizer eats that character into another token @ogizanagi
Chaning the way how tokenizer works to protect against this case would be very, very, very slow and would bring us not that much value

[2016-09-15 10:16] keradus commented on #2183
we have no idea what is `PHP Formatter` ...

[2016-09-15 16:18] xucaen commented on #2183
That's OK because I decided the editor was not worth using. Too many bugs to be used in an Enterprise environment.

[2016-09-15 18:06] keradus commented on #2183
Sorry, but we have no idea what is the `PHP Formatter` nor editor you are using. If you have problem with IDE contact their support, if some plugin of it contact author of that plugin.

We could help you to use `PHP CS Fixer`, which is standalone tool. But for other apps you need to contact them.

[2016-09-15 18:06] #2183 closed

[2016-09-16 07:59] SpacePossum commented on #2171
I'm working on a fix ATM

[2016-09-16 11:37] SpacePossum commented on #1871
Only HHVM has a special token for a `shebang`. This means that if we want to support this type of files (`shebang` followed by correct PHP code) we need to changes how we read, tokenize and write back the fixed result. IMHO it is not worth the trouble.

[2016-09-16 13:21] SeBsZ commented on #2176
I believe I'm seeing this same issue.

PHP Version: 	PHP 5.5.9-1ubuntu4.19 (cli) (built: Jul 28 2016 19:31:33)
php-cs-fixer version: v2.0.0-alpha, but first tried latest stable release with same effect.

Here are some examples of the resultant code:

[code]

and

[code]

Let me know if there is more information I can provide to help you solve this problem. I'm not sure what the comment above means

[2016-09-16 13:23] SpacePossum commented on #2176
can you provide an example of the _input_ code which was fixed to the code you provided?

[2016-09-16 13:31] SeBsZ commented on #2176
Sure. I just made a very small example file, and I messed up the indentation a little on purpose. Luckily I managed to reproduce the problem fairly quickly. After running just `php php-cs-fixer fix myphpfile.php` I'm left with the following results:

**Input file**
[code]

**Output**
[code]

Note the wrong indentation following the `// Fields` comment. Also it removes the closing `?>` php tag, but

[2016-09-16 13:39] SpacePossum commented on #2176
This is done by this fixer:
[code]

you can disable it if you want, but I strongly recommend to keep it. It prevents unintended echo-ing of trailing white space in `.php` files (it is also a recommendation done in PSR2) .

I'll have a look at your samples, thanks for providing those!

Just FYI, if you want to know which fixer does what on your code run the fixer and add `-vvv` to the command.

[2016-09-19 08:17] DXkite opened #2189 "formatting on save"
when set onSave is true, i save some file,  the file  formatted, but file status is "change"  i need to save again,**Then Format Again And Again**....

[2016-09-19 08:19] #2189 closed

[2016-09-19 08:54] keradus commented on #2189
We don't have `onSave` option

[2016-09-20 15:06] mcfedr commented on #1715
It seems @drAlberT comments about `define` are confusing the matter, the reason the bug is was open, removing docblock from variables, is a bug.

[2016-09-20 15:53] SpacePossum commented on #1715
There are not removed, but changed to a comment. You can switch off the `phpdoc_to_comment` fixer and it should be fine.

[2016-09-20 16:04] keradus commented on #1715
The case is why
[code]
is considered as invalid phpdoc...

[2016-09-20 16:57] mcfedr commented on #1715
Why is that invalid?

It seems this test https://github.com/FriendsOfPHP/PHP-CS-Fixer/blob/1.12/Symfony/CS/Tests/Fixer/Symfony/PhpdocToCommentFixerTest.php#L180 checks for this

This was converted to a comment to me
[code]

[2016-09-20 19:42] keradus commented on #1715
using v1.12.1
[code]
is not modified by `PhpdocToCommetFixer`
but this would:
[code]

Then, it's the same case as my initial.

[2016-09-21 06:40] mcfedr commented on #1715
Yes, I double check, it was edited the first time I ran fixer by `phpdoc_var_without_name` and the second time by `phpdoc_to_comment`

[2016-09-21 12:40] bweston92 commented on #1188
This just got me too.

[2016-09-22 11:33] SeBsZ commented on #2176
Hey @SpacePossum have you managed to take a look at my example to find out why it indents so funnily?

[2016-09-22 11:57] SpacePossum commented on #2176
I did and your report is indeed valid. It is an issue within the `braces`-fixer. I gave it a try to fix it, but I have no time ATM to do it. I hope someone else has time to pick this up.

[2016-09-22 12:03] SeBsZ commented on #2176
Would it help if I told you it seems the built-in PSR2 fixer in PHPStorm seems to do the same thing? Are you using the same codebase or something?

[2016-09-22 12:54] keradus commented on #2176
we don't base on any logic from PHPStorm. maybe PHPStorm use our logic under the hood. who knows...

[2016-09-22 13:15] kidager commented on #2176
I saw a similar behavior on the Sublime Text built-in re-indent command, if that may help.

[2016-09-22 13:29] akovalyov opened #2195 "[RFC] var_dump/dump fixer"
This RFC is for var_dump/dump removal fixer. While a lot of devs debug via var_dump(or via  Symfony/VarDumper dump), it is dangerous to have it in code, especially if it appears in production . So, why not to introduce these functions removal? What do you think?

[2016-09-22 13:43] SpacePossum commented on #2195
Hi and thanks for your suggestion :)

How about `var_export` or the `CURLOPT_VERBOSE` flag?
The thing is that we would not be fixing code style, but modifying the way some code works. This is not always a bad thing IMO. However in this case we cannot determine if the `var_dump` is indeed a forgotten debug statement (and the function is not overloaded) or is part of the logic that is essential to t

[2016-09-22 14:04] akovalyov commented on #2195
@SpacePossum thank you for your feedback.

 I agree with you that such a functionality might be out of scope of the project.

Right now I can't judge what is more risky for developer - keeping statements in the code, which are commonly used for debugging, or use the fixer as such.

However, I think that contrib fixers are usually enabled explicitly by developer, which means that one understands al

[2016-09-22 17:32] SpacePossum commented on #2184
closing because I fail to care any more ;)

[2016-09-22 17:32] #2184 closed

[2016-09-22 17:34] SpacePossum commented on #2185
maybe we could do something like the `LinefeedFixer` does? i.e. blindly search-replace some characters on file level?

[2016-09-22 18:15] SpacePossum commented on #2172
ping @fico7489 please provide more info @ see https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/2172#issuecomment-245323481

[2016-09-22 18:55] #2172 closed

[2016-09-24 14:14] dkarlovi opened #2201 "Enforce single-style logical operators"
We should be able to specify preference for `&&`, `||` instead of `and`, `or`, maybe not even allow named variants [because they act differently](http://stackoverflow.com/a/34848592/672885).

    if ($a or $b) {
        // ...
    }

becomes

    if ($a || $b) {
        // ...
    }

[2016-09-24 14:34] gharlan commented on #2201
-> #1212

[2016-09-24 14:54] dkarlovi commented on #2201
Yeah, I've even searched for this issue before submitting it. :(

Duplicate of #1212, closing.

[2016-09-24 14:54] #2201 closed

[2016-09-24 14:58] dkarlovi commented on #1212
:+1: for this fixer, I'm totally OK with it being marked as risky as it obviously should be.

[2016-09-24 21:57] #1715 closed

[2016-09-25 09:53] keradus commented on #2185
nope, so slow...

[2016-09-25 09:54] keradus commented on #2185
LinefeedFixer deserves to be rewritten. now it's risky

[2016-09-25 13:07] keradus commented on #2090
I think that thanks to #2196 and #2205 the `iterable` support is there. Please verify @SpacePossum

[2016-09-25 14:02] keradus commented on #1119
@SpacePossum in this case `function foo(Bar $b, int $c) : string {}`
all `Bar`, `int` and `string` are strings. as they are consistent I'm not sure should we really change them

[2016-09-25 16:06] SpacePossum commented on #1119
On second thought I think we can indeed do without those

[2016-09-25 17:17] SpacePossum commented on #2090
I think we miss the logic to fix the casing of `iterable` in (return) type hinting? not sure though I haven't checked as I messed up my PHP7.1 VM ATM.

[2016-09-25 18:11] keradus commented on #2090
Do we have a fixer for that in first place? I don't think so

[2016-09-25 19:38] SpacePossum commented on #2090
Don't think so either, having case-fixing-fixers for std-classes and interfaces would be nice though.
Anyway, with that in mind I leave it to others to make the call if we have support for `iterable` or not :)

[2016-09-27 18:51] jnvsor commented on #1904
Still happens in 13a21d85789f4e6534610722842019b864980bec (And 1.12 too)

[2016-09-27 19:07] SpacePossum commented on #1904
yes, see also https://github.com/FriendsOfPHP/PHP-CS-Fixer/issues/2176
it seems nobody found time to fix this

[2016-09-28 10:09] keradus commented on #1904
closing as duplicate.
@jnvsor do you want to send a fix ?

[2016-09-28 10:09] #1904 closed

[2016-10-02 09:06] hackereg35 opened #2210 "Error on Windows"
i have downloaded php-cs-fixer.phar and i have appserv installed and php5 is in my PATH v but when i execute
`php php-cs-fixer.phar`
i get
`Parse error: syntax error, unexpected T_FUNCTION, expecting ')' in C:\AppServ\ph
p5\php-cs-fixer.phar on line 23`

[2016-10-03 21:08] SpacePossum commented on #2210
Hi @hackereg35,

Thank you for the report. I order to bug track this, could you provide:
- the PHP version you use (or HHVM if this is the case)
- which version of the fixer are you running/have you downloaded
- which version of Windows are you running the fixer on

Thanks in advance :)

[2016-10-04 21:17] jnvsor commented on #1904
@keradus Is there a "Working on php-cs-fixer for dummies" guide? My go to for debugging is `echo` but this likes to error whenever I output anything

[2016-10-04 22:39] keradus commented on #1904
there is a cookbook, but it's rather for creating new fixer, not fixing a bug.
I would suggest o add failing case to utests and then fix the fixer class

[2016-10-05 13:44] AntoDury opened #2211 "Don't work for Windows (require_once problem ?)"
Hello !

First of all, sorry for my english but I'm french..

I have a problem with Beautify for Windows, there is an error while executing in command line.
Here is the logs : https://gist.github.com/anonymous/8ff73f92e825ec1e46968972785375e1

[code]

Thanks for your help guys !

[2016-10-05 13:54] SpacePossum commented on #2211
Hi and thank you for report.

Could you provide some additional details? The PHP version you are using;
[code]

and the version of Windows you use maybe?

Since the fixer cannot find the `autoload.php` I think one the two problems is going on:
- you are using the `.phar` distribution of the fixer, but the fixer thinks wrongfully it is installed by composer. Or;
- you are running the fixer from cod

[2016-10-05 13:57] AntoDury commented on #2211
Hi thanks for your answer !

Here is my version of PHP :

`PHP 7.0.4 (cli) (built: Mar  2 2016 14:42:25) ( ZTS )`

This is Windows 10 and I installed php-cs-fixer without composer, maybe this is the problem ?

And sorry but I don't understand your last sentence :/

[2016-10-05 14:06] AntoDury commented on #2211
I installed composer for Windows and it works, I think that Composer was only for Linux, thanks !

[2016-10-05 14:08] SpacePossum commented on #2211
Ah good news! : )
Composer is cross platform, so enjoy two new great PHP tools ^_^

[2016-10-05 14:42] keradus commented on #2211
How did you install it ?